[2016-06-09 01:33] ehennum commented on #252
Hi, Sudhakar: This limitation is well known and documented. Our current mechanism for sanitizing XPaths is too limiting. A better mechanism for sanitizing XPaths would have to be implemented in the server. The Node.js API can't solve this problem.

[2016-06-10 18:02] malteseduck opened #253 "Specifying transform as object gives error"
The documentation here:

http://docs.marklogic.com/guide/node-dev/documents#id_76998

Shows that a transform can be specified as an object so that the transform params can be passed:

db.documents.write({
  documents: [
    {uri: '/doc/example1.json', content: {...}},
    {uri: '/doc/example2.json', content: {...}}
  ],
  transform: {
    name: 'my-transform',
    my-first-param: 'value',
    my-s

[2016-06-10 18:26] kcoleman-marklogic commented on #253
I would say none of the documentation is currently correct.

Which is to say, yes, you can just provide a string (the name), as you surmised. However, I think you can also provide an array (not an object) of the form [name, param1, param2, ..., paramN].

[2016-06-10 18:27] ehennum commented on #253
I think the Node.js API needs to be able to provide named parameters to a transform.  Mike, could you investigate?

[2016-06-10 18:30] wooldridge commented on #253
Will take a look at this issue, thanks!

[2016-06-10 20:17] malteseduck commented on #253
This seems to work:

db.documents.write({
  transform: ['json-references', { type: 'normalize'} ],
  documents: [...]
});

I guess it takes an array, but the params are passed as an object.    I found this documentation:

http://docs.marklogic.com/guide/node-dev/extensions#id_27240

Which shows this.  I guess I should have dug deeper.  The other two parts of the documentation are still wrong, thou

[2016-06-10 20:25] ehennum commented on #253
Great that you puzzled that out.  It reminds me that the rationale behind the array was to ensure that the transform name could not collide with the names of the transform parameters.

The JSDoc seems like the weak link here.

[2016-07-09 08:15] csreddy opened #254 "db.documents.probe() in transaction causes forest to go into 'middle-closing' state"
To reproduce run this test, after running this test, the forest goes into `middle closing` state.
Server must be restarted to reset forest state

[code]

in error log

[code]

[2016-07-09 08:22] csreddy opened #255 "db.documents.probe() throws error when transaction Id is passed as second param"
the documentation shows that `probe()` takes 2 params `uri` and `txid` but its throws below error
ex:

[code]

works only if passed as an object

[code]

[code]

[2016-07-12 07:42] MayankBhatnagar89 commented on #244
The issue is no more in regression. Hence shipping it.
Verified on build : MarkLogic-9.0-20160606.x86_64

[2016-07-12 07:42] #244 closed

[2016-07-13 00:23] csreddy opened #256 "xdmp.email() from REST extension crashes server"
Using 8.0-5.4

rest extension
[code]

As a workaround,  I moved the code to a module and invoking the function, like this
[code]
`email-module.sjs`
[code]

[2016-07-13 01:56] ehennum commented on #256
Sudhakar, have you tried the same code in QueryConsole, possibly using JavaScript eval?

Maybe stating the obvious, it is extremely unlikely that the REST API can cause or prevent a server crash and completely impossible for the Node.js API to do so.

So, the bug should really be isolated a bit and filed using the internal bug tracking system because the root cause and fix will be at the C++ layer

[2016-07-13 01:56] #256 closed

[2016-07-13 17:59] ehennum commented on #256
Thanks for confirming.

[2016-07-21 22:39] jhoy opened #257 "db.resources.post throws an error when no documents param is specified"
When using db.resources.post with a REST API resource service extension, the documents parameter is supposed to be optional (confirmed with @ehennum ).

However if the documents parameter is not specified, an error is thrown in resources-exec.js at line 232 when the code tries to perform a for loop on documents (which in this case would be "undefined").  The error it throws is a generic "Cannot re

[2016-07-25 18:11] jmakeig opened #258 "Optic API support"
- Plan builder to express queries in JavaScript
- Interoperability with other Java builders, such as cts:query or QBE
- Efficient handling of tuple results
- Map results to JavaScript/Node types and common I/O patterns (e.g. streams)
- Performance, especially for large record sets, millions of results, rather than pages as we assume with search results

[2016-07-25 18:33] jmakeig commented on #258
@popzip The above is place-holder. Let’s figure out specifics.

[2016-07-26 00:37] wooldridge opened #259 "Add support for metadata values"
Support the new name-value string pairs called metadata just like we already support document properties, quality, permissions, and collections.

[2016-07-26 00:38] wooldridge opened #260 "Add support for Kerberos authentication"
Support Kerberos single sign-on security when it is applied to MarkLogic application servers.

[2016-07-26 00:38] wooldridge opened #261 "Add support for geospatial polygon search"
Support geospatial search for polygon regions that includes a relationship operator (contains, overlaps, et al.).

[2016-07-26 00:39] wooldridge opened #262 "Add support for double-precision values for geospatial search"
Support double-precision floating point values that are now available in geospatial indexes.

[2016-07-26 00:40] wooldridge opened #263 "Expose JavaScript generators for processing collection-based result payloads"

[2016-07-26 00:46] wooldridge opened #264 "Add support for certificate-based authentication"
Support authentication based on a certificate authority (a trusted third party) to prove the validity of the public key associated with a certificate.

[2016-07-26 01:21] wooldridge commented on #262
Specifying the precision for a geospatial search involves a simple pass-through of a coordinate-system value via the geoOptions() method. Given the changes to the underlying APIs, there should now be support for the new values "wgs84/double" and "raw/double".

[2016-07-26 14:31] kcoleman-marklogic commented on #262
Did you happen to slip in etrs89 and etrs89/double while you were at it? That's a new coordinate system we've added.

[2016-07-26 17:01] wooldridge commented on #262
Thanks, Kim! So, the following coordinate-system values are now supported:

- raw
- wgs84
- etrs89
- raw/double
- wgs84/double
- etrs89/double

[2016-07-26 18:03] kcoleman-marklogic commented on #262
Correct. ETRS89 was not in EA2, but it is in EA3.

[2016-07-26 23:57] popzip commented on #258
@jmakeig Specifics...are there more specific requirements than the above + Client PRD + Optic PRD?

[2016-08-04 15:06] tpiros opened #268 "optimistic locking error log with 'version-required'"
Given the following code:

[code]

I'd expect the Error message to be 412 even when I don't provide the versionId. At the moment the error looks like the following:

[code]

Updating the above code and adding an incorrect versionId yields the following:

[code]

[code]

[2016-08-04 15:44] ehennum commented on #268
The standards seem to be silent on a missing IF MATCH etag, and common practice seems to prefer the 403.  For instance:

http://stackoverflow.com/questions/16056980/response-code-when-etag-is-expected-but-not-received

The message could certainly be improved for this situation.  That would be a REST API bug instead of a Node.js API bug.

[2016-08-04 16:14] tpiros commented on #268
That makes sense @ehennum, but instead of the returned code maybe the error message should be more precise because it's not I don't have permission but more like I didn't provide an actual `versionId`.

[2016-08-09 23:58] wooldridge opened #269 "config.resources.read() returns a Buffer object instead of a string"
When reading the source code of an installed resource service extension with the following:

https://docs.marklogic.com/jsdoc/config.resources.html#read

For example:

[code]

The read() method returns source code as a Buffer object, for example:

<Buffer 2f 2f 20 47 45 54 0a 2f 2f 0a 2f 2f 20 54 68 69 73 20 66 75 6e 63 74 69 6f 6e 20 72 65 74 75 72 6e 73 20 61 20 64 6f 63 75 6d 65 6e 74 20 6e 6f

[2016-08-10 00:47] wooldridge opened #270 "Calling methods on resources with arg list throws error"
If you call the methods on resources:

get()
post()
put()
remove()

with a list of arguments, e.g.:

[code]

an error is thrown:

[code]

When arguments are passed in as a single object, all is OK, e.g.:

[code]

[2016-08-10 01:07] kcoleman-marklogic commented on #270
Isn't that WAI? At least as far as requiring you to use a call obj if you want to pass in params. The error message could certainly be better. :)

That is the usage I documented, at any rate. It's also consistent with the spec from 8.0, which shows this usage:
[code]
This is pretty typical of the API, IIRC. You have to fallback on a call object once you stray from the bone simple use case.

[2016-08-10 16:43] jmakeig opened #271 "Update open-source inventory"
Make sure we’ve documented third-party code and anything required to comply with its licenses.

[2016-08-11 00:05] wooldridge commented on #257
@ayuwono To test, create a resource service extension with POST and PUT methods. Then call those methods with argument objects that don't include a documents property, e.g.:

db.resources.post({name: 'versionService'});
db.resources.put({name: 'versionService'});

[2016-08-11 05:04] ayuwono opened #273 "geoOptions() is not working on geospatialRegion()"
It seems that geoOptions() is not working on geospatialRegion()

This query:

[code]

Will throw this error:

[code]

[2016-08-11 06:13] ayuwono commented on #273
If you have region-path-index with coordinate system wgs84/double

[code]

And run the script:
[code]

It can't find the index, because it doesn't take the geoOptions(), it's defaulting to wgs84

[code]

[2016-08-11 17:08] ayuwono opened #274 "There is no representation of cts:linestring() on Node.js Client API"
There is no representation of cts:linestring() on Node.js Client API

On xquery, we can do something like:

[code]

Tried q.linestring() or q.lineString() but both are not recognized as functions

[code]

[2016-08-11 17:31] kcoleman-marklogic commented on #274
If you're going to jump in with both feet, cts:complex-polygon probably has no equivalent, either. The six types of geo regions ML supports are: point, linestring, box, polygon, complex polygon, and circle.

HOWEVER, historically (if structured query can be said to be old enough to refer to that way), structured query has not supported any regions except point, circle, box, and polygon. The Search

[2016-08-11 18:28] ayuwono commented on #274
Yes, complex-polygon is not there. If we agree for not supporting both of them in Node.js Client API, I will skip the testing on these regions

[2016-08-11 18:44] ayuwono commented on #273
It seems that I put the coordinate-system in the wrong place,

But it's still throwing the error:
XDMP-GEOREGIONIDX-NOTFOUND: cts:geospatial-region-path-reference("/root/item/box", "coordinate-system=wgs84") --  /root/item/box wgs84

[code]

[2016-08-11 18:51] kcoleman-marklogic commented on #273
Since I can't currently build the JSDoc (grrr) and can't find a func spec for the Node.js changes (double grrr), I can't check this, but it seems likely to me that `q.geoPath` is not the correct index reference constructor.

That is almost certainly going to construct a reference to a point index, not a region index. Point indexes are the same geo indexes we've always had; region indexes are new h

[2016-08-11 21:41] wooldridge opened #275 "Move kerberos dependencies to optionalDependencies in package.json"
Making kerberos and related modules optional is useful for developers who don't need Kerberos authentication (the majority don't) and don't have the environment to support it. More info:

https://docs.npmjs.com/files/package.json#optionaldependencies

The kerberos module includes native C++ code and is a more complicated dependency to get working, more info here:

https://www.npmjs.com/package/ker

[2016-08-11 23:42] ayuwono commented on #273
There is no such thing as geoRegionPath in the lib. The spec mentioned that it should use geoPath. I can find all the results using geoPath, but just the geoOptions that's not working

[2016-08-11 23:47] ayuwono opened #276 "fragmentScope() doesn't take any effect on geoSpatialRegion"
It seems that fragmentScope is not taking any effect. When I put properties as the value, it's still returning the documents although the documents don't have any properties

Shouldn't it return no document?

[code]

[2016-08-12 00:04] kcoleman-marklogic commented on #275
This might end up being a useful reference to include in the README, as it does talk about the deps. Silly me, not to have looked there previously.

https://www.npmjs.com/package/kerberos

[2016-08-12 15:47] ehennum commented on #274
I can confirm the Search API doesn't support cts:line-string or cts:complex-polygon.

So, the Node.js API can't support them.

[2016-08-12 15:47] ehennum commented on #274
Setting the status to closed on that basis.

[2016-08-12 16:33] wooldridge commented on #274
Thank you @ehennum

[2016-08-12 17:24] kcoleman-marklogic commented on #275
I have officially given up on getting Node.js to npm install on Windows until Kerberos slinks off to the corner where it belongs.

Heaven help the poor user who actually needs our API + Kerberos on Windows. I've wasted most of this week trying to get our install working on Windows, without success. I wound up in Windows SDK hell, and am now worse off than when I started.

We won't have updated JSD

[2016-08-12 18:05] ayuwono commented on #273
[test-setup-qa.zip](https://github.com/marklogic/node-client-api/files/415931/test-setup-qa.zip)

[2016-08-12 18:06] ehennum commented on #273
Thanks for the setup

[2016-08-12 18:06] ayuwono commented on #273
Unzip the file, put the setup file on etc/ folder then run node etc/test-setup-qa.js

[2016-08-12 19:31] wooldridge commented on #275
@kcoleman-marklogic hoping the #277 merge addresses your install issues. @ehennum thanks for the help!

[2016-08-12 20:14] ehennum commented on #273
The root issue is that the options are being treated as namespaces.  A path can take a map of namespaces but also options. At present, pathIndex() and geoPath() support only the namespaces.

[2016-08-12 20:56] ehennum commented on #273
Correction.  In the Search API, a geospatial region path take only coord, which is not modelled as a geospatial option.

[2016-08-12 21:39] ehennum commented on #273
There was also a bug in the REST API as well.  It was not transforming coord from JSON.

[2016-08-12 21:55] ehennum commented on #273
@ayuwono please try  q.geoPath('/root/item/box', 'wgs84/double')

@wooldridge my concern with this fix is whether using a bare string is potentially puzzling as well as limiting for future evolution of this call.  So, consider whether it might be better to wrap the parameter with a helper function in the same way as the QueryBuilder elsewhere, as in:

q.geoPath('/root/item/box', q.coord('wgs84/dou

[2016-08-12 22:09] ehennum commented on #276
Hmmm.  The Node.js API is sending the qualification to the REST API.

[2016-08-12 22:19] ehennum commented on #276
The root cause is in the Search API.

[2016-08-12 22:30] ehennum commented on #276
We should add tests on the Search API to confirm that the fragment scope from geospatial queries is getting passed in.  Previously, only the fragment scope from the options for geospatial queries was passed.

[2016-08-13 16:18] kcoleman-marklogic commented on #273
If you decide to create a helper func, please consider inflicting a few extra characters on users so that the it doesn't sound like a point constructor. For example: q.coordSys, not q.coord.

Also, I'm a bit confused on one point:

Are we saying that geo path indexes accept no options?  I would think geo point indexes (as distinct from region indexes) need to accept at least the `type` option for

[2016-08-13 17:15] kcoleman-marklogic commented on #275
Here is what I found:

`npm install` coughs up a bunch of errors because it still tries to install the optional deps by default. However, the install succeeds now since the failed dep is optional.

`npm install --no-optional` completes without error since it skips over the Kerberos stuff altogether.

If that's the desired usage, then we're good to go. I do think it is potentially alarming/confusin

[2016-08-13 17:35] kcoleman-marklogic commented on #275
P.S. I also made another attempt to get the kerberos install working today, just because it bugs me to be defeated by an installer, but I was beaten again. I got node-gyp to install finally, but Kerberos still won't build.

I suspect a conflict between [the bundle of tools](https://github.com/felixrieseberg/windows-build-tools) node-gyp points Windows users to (which is how I finally got a success

[2016-08-15 17:26] ehennum commented on #273
Good catch on the potential for misreading the name and on the options.

@wooldridge , I'll go with qb.coordSystem as the name for now, which can be revised in the next iteration.

Let's make the options a separate bug and fix it in the next iteration.  (I wonder whether there is a need for the precision given that the precision is explicit in the coordinate system, but I'm shallow on some of the

[2016-08-15 17:32] kcoleman-marklogic commented on #273
On the server, the `precision` option is an override on the precision implicit in the coordinate system name. It might have more of a role server-side than client-side. I don't really know what use cases Jake had in mind when he exposed the override. I assumed you guys eyed it skeptically and decided not to include it in Search API & Friends.

[2016-08-15 18:07] ehennum commented on #273
Okay, qb.coordSystem() has landed -- see the Query Builder unit test for same.

I'll pursue the options offline.

[2016-08-15 18:38] ayuwono commented on #273
Verified q.coordSystem is working
Added tests: nodejs-documents-query-geo-region.js

[2016-08-15 18:38] #273 closed

[2016-08-15 18:45] ayuwono commented on #262
Added tests on nodejs-document-query-geo-double.js

[2016-08-15 18:45] #262 closed

[2016-08-15 18:46] ayuwono commented on #261
Added tests on nodejs-document-query-geo-region.js

[2016-08-15 18:46] #261 closed

[2016-08-15 20:47] ayuwono opened #279 "Inconsistency on metadataValues category between documents and patch"
Inconsistency on metadataValues category between documents and patch

Write this document:

[code]

On documents.read, the category is metadataValues
[code]

But on documents.patch it's failing if the category is metadataValues. It's working fine if it's metadata-values. The category should be consistent

[code]

Thrown error:
[code]

[2016-08-15 20:49] ehennum commented on #279
Hi, Mike - would you be able to take a look?

[2016-08-15 20:54] wooldridge commented on #279
@ehennum Of course, thanks!

[2016-08-15 21:01] ayuwono commented on #279
Additional note:
documents.read() and documents.patch() are working with 'metadata' category too. Is it expected?

[2016-08-15 23:06] ayuwono opened #280 "metadataValues null value is returned as an empty string instead of null"
Write this document, it has metadataValues of 'meta4' with null value:

[code]

Read the document:
[code]

Result in JSON.Stringify():
[code]

Notice that 'meta4' value is an empty string instead of null. It should be null

If we pass this JSON object on JSON.stringify:
[code]

It will return:
{
  "test1": null
}

[2016-08-15 23:22] ayuwono opened #281 "Unable to add patch on metadataValues"
Unable to add patch on metadataValues

[code]

Here is the convention of patching on metadata:
[code]

[2016-08-15 23:45] ehennum commented on #280
Hi, @ayuwono -- for a null in document content or document properties content, it makes perfect sense that a null should always remain a null.

A null in document key-values metadata, however, can't remain a null because values are always a string.  (Apologies for not thinking of this case earlier.)

To put it another way, the values in a key-value map are all strings. As a convenience, the Node.j

[2016-08-16 17:30] ayuwono commented on #276
Added test on nodejs-documents-query-region.js

[2016-08-16 17:30] #276 closed

[2016-08-17 16:59] ayuwono commented on #280
For the test, assertion will expect an empty string

[2016-08-17 16:59] #280 closed

[2016-08-17 18:01] wooldridge commented on #281
@ayuwono #282 adds patch functionality. I also added tests, which you might to change.

[2016-08-17 23:23] ayuwono commented on #281
Verified and added tests: nodejs-documents-metadata-values.js

[2016-08-17 23:23] #281 closed

[2016-08-17 23:55] wooldridge commented on #279
@ayuwono Yes, 'metadata' is a catch-all category for all categories of metadata, and should work. 'metadataValues' is a new category (and type of metadata).

[2016-08-18 17:08] ayuwono commented on #279
Verified passed. Updated the test: nodejs-documents-metadata-values.js

[2016-08-18 17:08] #279 closed

[2016-08-18 20:53] ayuwono commented on #275
Verified that npm install --no-optional works fine and not installing kerberos

It seems that it's the only way to omit the kerberos installation. We should document this clearly.

[2016-08-18 20:55] #274 closed

[2016-08-19 11:44] MayankBhatnagar89 commented on #257
Hi Mike,

I created resource service extension named as "xqyServiceName" and tried caling methods : db.resources.put({name:xqyServiceName}) and db.resources.post({name:xqyServiceName})
But both are throwing out error :
{
    "message": "wrapperService: response with invalid 500 status",
    "statusCode": 500,
    "body": {
        "errorResponse": {
            "statusCode": 500,
            "stat

[2016-08-19 18:18] wooldridge commented on #257
@MayankBhatnagar89 I'm not sure what's going on with your test. Are you quoting the service name? For example:

db.resources.put({name:'xqyServiceName'})

Also, with you test, can you successfully call the service with the other properties in the param object? For example:

db.resources.put({
  name: 'xqyServiceName',
  params: {foo: 'bar'},
  documents: {key: 'value'}
})

Can you send me the code

[2016-08-19 20:00] wooldridge commented on #257
@MayankBhatnagar89 please provide a reproducible test case, thanks!

[2016-08-19 21:09] ayuwono commented on #259
Added test: nodejs-documents-metadata-values.js

[2016-08-19 21:09] #259 closed

[2016-08-22 11:00] MayankBhatnagar89 commented on #257
Hi @wooldridge

I am able to successfully call the service with other properties in the param object and I am not using quoting the service name.
I am using wrapperService.xqy whose path is node-client-api/test-basic/data/wrapperService.xqy

Below is the sample code  :
------------------------------------------------------------
var should = require('should');

var fs = require('fs');
var valcheck

[2016-08-24 20:29] tpiros opened #284 "Inconsistent count for batch load"
Hi,

Give the following sample code taken from [the examples](https://github.com/marklogic/node-client-api/blob/8f63f6b531258c733be3ff0e9a992fcd7d444f37/examples/before-load.js) I have experienced the following behaviour.

I have updated the above code in the following way:

[code]

Interestingly each time I execute the code I get different results:

[code]

As you can see the counter gives a diff

[2016-08-25 02:57] wooldridge commented on #257
The issue is with the logic in wrapperService.xqy, line 56:
[code]
When no input documents are passed in for a PUT, "head($input)/xdmp:quote(.)" still evaluates to something that is non-empty, and that leads to invalid JSON being returned:
[code]
instead of this:
[code]
I'm investigating how to address this.

[2016-08-25 17:22] jmakeig opened #285 "Document 9.0-ea3 changes"
- Kerberos

[2016-08-26 17:41] wooldridge commented on #257
Hi @MayankBhatnagar89

@ehennum pointed out that the PUT method is always expected to provide a document payload. So we should only be testing this for POST.

However, the same issue is coming up with POST using analogous test code, i.e.:
[code]

[2016-08-26 18:00] wooldridge commented on #257
More background on what is happening...

As the logic is currently written, when we execute a POST with no document payload on an installed resource extension, the Node.js API executes an 'empty' HTTP call. (When documents are included, it executes a 'multipart' HTTP call.)

When we execute a POST with no payload, the POST function of the installed resource extension, e.g.:
[code]
receives a (seem

[2016-08-29 18:04] ehennum commented on #284
Have you confirmed that the documents are actually missing in the database?

I'm wondering if this might be a case where -- because the order of the response callback execution is indeterminate -- the last batch might be finishing before the counter reflects one of the previous batches.

[2016-08-29 18:51] ehennum commented on #257
Thanks for the additional detail.  This sounds like a bug on the REST API, which shouldn't return false when a resource service extension has no output.

[2016-08-29 20:01] grechaw commented on #257
I don't completely understand this issue, but have seen hexBinary before.  You may have found an issue with its root cause in the HTTP server, not REST.

But go ahead and submit a REST bug if you can and we'll work to isolate the issue further.

[2016-08-29 20:41] ehennum commented on #257
After sitting down with Mike, I can see that I completely misinterpretted this as a regression on the output.

The problem here is that wrapperService.xqy is not a good extension for testing this fix.

wrapperService.xqy is written to require input.

This fix is to support a client that's not providing input.

Thus, the test should use a different extension that doesn't require input.

[2016-08-29 20:53] tpiros commented on #284
Yes, @ehennum I did - I'm sorry I forgot to mention that. The counter value would always represent the document count in the database. (I did clear the database before each test load).

[2016-08-29 20:58] ehennum commented on #284
Hmm, so to state it another way, sometimes before-load.js puts the database in a state where some of the sample documents are missing.

[2016-08-29 20:59] tpiros commented on #284
That is a correct statement Erik. I will send you an email with actual screenshots but it's effectively some "photographic" evidence of what I have described above.

[2016-08-31 22:43] ayuwono commented on #260
Kerberos connection is successful

[2016-08-31 22:43] #260 closed

[2016-09-01 00:57] jmakeig commented on #260
Woo hoo!

[2016-09-01 20:21] popzip commented on #258
Just wanted to check this is still a post 9.0-1 task and won't make it into EA4 @wooldridge @jmakeig @ehennum

[2016-09-01 20:23] ehennum commented on #258
Yes, this will require code generation for the builder, and the bucket for EA4 is full.

[2016-09-01 20:24] popzip commented on #258
Okay thanks I thought there was something about code generation and couldn't remember the implication.

Also why is this an RFE not a task?

[2016-09-01 20:26] grechaw commented on #258
Meaning @ehennum is there a server-side dependency still?  @wooldridge is not 100% committed for EA-4 yet, from my initial researches into client api team.

[2016-09-01 20:28] ehennum commented on #258
Yes, as noted above, the builder is generated. That requires work outside of Node.js

[2016-09-06 21:18] ehennum opened #291 "documentation for bitemporal capability"
Alex noticed that the bitemporal features are missing some documentation such as the temporal collection in the document descriptor in the JSDoc and in the user guide.

[2016-09-07 20:04] ayuwono commented on #257
Verified passed and added test nodejs-issue-257.js

[2016-09-07 20:04] #257 closed

[2016-09-08 00:20] popzip opened #292 "Add request origination self identifier for Node.js API metrics"
Using Telemetry, we can track feature usage at a granular level. For example, the Optic API will be tracking # of joins. We need a way to track where a request originated when coming from the Client APIs. Each client API must include some sort of identifier that the server can use to increment the correct metric (e.g. optic-joins-javascript vs optic-joins-nodejs).

This task is not for a specific

[2016-09-13 19:36] wooldridge opened #294 "Add support for bitemporal"

[2016-09-13 19:38] wooldridge opened #295 "Add support for node-update"
node-update is a new document-level capability to support the element-level security feature. Implementing in the Node API is dependent on work at the REST layer:

https://bugtrack.marklogic.com/42097

[2016-09-15 17:39] wooldridge opened #296 "Add support for point-in-time queries"

[2016-09-20 07:45] jmakeig opened #297 "Capture stack on MarkLogic error"
The `MarkLogicError` constructor should capture the stack trace. See the [v8 guidance](https://github.com/v8/v8/wiki/Stack-Trace-API#stack-trace-collection-for-custom-exceptions).

[2016-09-20 07:53] jmakeig commented on #297
We should get the stack trace from the **remote error** too, serialize it over the wire, and stash it in the `MarkLogicError` instance. As it is, it's difficult to figure out where errors happen on the server in custom code, like `eval` and `invoke` (and presumably resource extensions).

[2016-09-27 04:35] wooldridge commented on #253
To confirm, I created some working examples here:

https://github.com/wooldridge/ml-transform

We need to update documentation. @kcoleman-marklogic can you review this?

ON DOCS.MARKLOGIC.COM

http://docs.marklogic.com/guide/node-dev/documents#id_76998

*Text:*

"To apply a transform when creating or updating documents, call `documents.write` with a call object that includes the `transform` proper

[2016-09-27 16:00] kcoleman-marklogic commented on #253
It seems that the bugtrack integration is not working: This issue hasn't been updated internally since June. I corrected the book for 8.0 and latest, more or less along the lines you suggested, and you can find the checkins attached to that bug (40207).

As for the JSDoc, your proposed change looks good to me. I leave the JSDoc (like the javadoc) to you guys, most of the time. Handing this back to

[2016-09-27 23:02] wooldridge commented on #253
Documentation to address this has been updated on docs.marklogic and in the API docs.

[2016-09-27 23:02] #253 closed

[2016-09-29 00:05] wooldridge commented on #69
+1

I agree that having the return-query option available would be helpful.

[2016-09-29 01:11] ehennum commented on #69
The counter argument is that return query doesn't report the query in the constructs of the builder.

In other words, it is worth discussing whether it would be useful to the target audience:  Node.js developers who don't know the Search API.

[2016-09-29 13:48] kcoleman-marklogic commented on #69
My two cents:

When I am debugging something, I'll grab any floating plank I can find, even if it is a poorly understood one. For example, I would rather have a stacktrace full of frames that I know nothing about than just a "Haha, sucks to be you" error message. I might glean just enough info from the trace to put me on the right path.

I believe the same thing applies here. I might not know how

[2016-09-30 00:37] wooldridge opened #300 "Support combined query with SPARQL"
Support combined query with SPARQL by adding functionality to the graphs.sparql() method.

Use the existing "documentQuery" parameter to pass in the qtext, structured query, and options information in the combined query form.

The SPARQL part of the query would still be passed in via the "query" parameter on the graphs.sparql() method (not as a "sparql" property in the combined query).

The Node.j

[2016-10-04 07:24] MayankBhatnagar89 commented on #237
Scenario covered under test test-complete/nodejs-sparql.js

[2016-10-04 07:24] #237 closed

[2016-10-12 21:35] wooldridge opened #301 "Support Node.js version 6.x for milestone 8.0-6"
Previously, we've been supporting relatively old versions, >=0.10.26.

Upping the package.json engine version to bring us in line with the current version of Node.js (6.8.0 as of 2016-10-12).

@jmakeig @ehennum @ayuwono @kcoleman-marklogic

[2016-10-12 21:56] wooldridge commented on #301
@ayuwono has been testing on 6.3.1 for the 8.0-6 milestone, so that's what we will guarantee via our package.json.

[2016-10-12 22:10] wooldridge commented on #301
Fixed by commit 4add024be3c5c6373ec0c27895840abf0aa1ca17

[2016-10-13 03:59] gvaidees commented on #301
Should this be in Test?

[2016-10-13 14:40] kcoleman-marklogic commented on #301
FYI, the documentation portion of this is completed.

[2016-10-13 16:55] wooldridge commented on #301
@ayuwono Can you please confirm tests pass on develop and 1.0-develop and then close this.

[2016-10-13 17:01] ayuwono commented on #301
I have tested it on 10/12 and it's passed. Confirmed passed

[2016-10-13 17:01] #301 closed

[2016-10-13 17:21] popzip commented on #292
Follow-up from #258

[2016-10-14 21:03] wooldridge opened #303 "Earlier versions of Client API should work with later versions of MarkLogic"
Version 1.x of the Node.js Client API (compatible with ML8) should also work with ML9, but not support new features available in ML9. (If developers need to use new ML9 features, they will be required to upgrade to 2.x.)

This task is to check 1.x compatibility with ML9 upon the release of ML9 to make sure this is the case. Per discussion with @jmakeig.

[2016-10-14 21:19] jmakeig commented on #303
<table>
  <thead><tr><th>&nbsp;</th><th>Client 1.x</th><th>2.x</th></tr></thead>
  <tbody>
    <tr><th>MarkLogic 7</th><td>?</td><td>?</td></tr>
    <tr><th>MarkLogic 8</th><td>Full</td><td>1.x</td></tr>
    <tr><th>MarkLogic 9</th><td>1.x</td><td>Full</td></tr>
  </tbody>
</table>

[2016-10-19 05:56] jmakeig opened #304 "Specify database for eval and invoke"
The the` /v1/eval` and [`/v1/invoke`](https://docs.marklogic.com/REST/POST/v1/invoke) REST endpoints allow you to specify a database on the request. The corresponding `DatabaseClient` methods should support that as well.

[2016-10-19 06:09] jmakeig commented on #304
Never mind. You set this on the `DatabaseClient`, not on the `eval`/`invoke` itself.

[2016-10-19 06:09] #304 closed

[2016-10-25 05:52] wooldridge commented on #270
Thanks for the input, @kcoleman-marklogic. Your example from the spec makes the expected usage very clear to me:

`db.resources.get({name:..., params:{...}, txid:...})`

This signature from the jsdocs tells me I should do something different:

`get(name, params, txid) -> {ResultProvider}`

This may be a limitation of jsdocs.

For now, I'm going to push this issue out because for me it speaks to ma

[2016-10-25 14:16] kcoleman-marklogic commented on #270
FWIW, I think there are some other places where we try to finesse this limitation with the JSDoc through words.

For example, take a look at `Documents.remove`: http://docs.marklogic.com/jsdoc/documents.html#remove. There, we say "... takes a configuration object with the following named parameters or, as a shortcut, one or more uri strings or an array of uri strings".

Of course, that pre-suppose

[2016-10-25 20:42] wooldridge commented on #269
Similar issue was found in config.transforms.read(), fixes both.

[2016-10-26 08:02] wooldridge commented on #291
The temporalCollection property currently is not at the level of document descriptor, for example:

https://docs.marklogic.com/jsdoc/documents.html#write

In the REST spec, I don't see temporal-collection at the Content-Disposition level like temporal-document is for multipart writes. I'm interpreting this as temporal-collection doesn't belong in the document descriptor but rather as a URL param.

[2016-10-26 08:11] wooldridge commented on #271
New third-party code in ML9:

https://www.npmjs.com/package/kerberos [Apache 2.0]

[2016-10-26 14:57] ehennum commented on #291
As I understand it, the expectation is that most adopters will have a single temporal collection for the entire database. As a result, there's no requirement to specify different temporal collections for different documents in the same batch. In other words, the temporal collection is at the request level, not at the document level.

I believe the specification of the temporal collection already w

[2016-10-26 16:39] wooldridge commented on #291
Great, the existing temporal collection param is documented as it should be and the new temporal document param will be documented in the document descriptor as part of #294.

[2016-10-26 16:39] #291 closed

[2016-10-27 06:10] wooldridge commented on #264
@ayuwono for usage examples, see:

https://github.com/wooldridge/ml-certauth

[2016-10-27 06:15] wooldridge opened #307 "Add minimum distance on near-query"

[2016-10-27 22:11] wooldridge commented on #295
The API should support the new "node-update" capability as-is.

[2016-11-01 22:58] ayuwono commented on #264
Manual test on https://github.com/wooldridge/ml-certauth is passed

[2016-11-02 22:39] ayuwono opened #312 "document protect with invalid path is not throwing any error"
document protect with invalid path is not throwing any error

[code]

This script is using a folder that doesn't exist. It should throw and error

[2016-11-02 22:51] ayuwono opened #313 "documents protect with specified expireTime is not working"
It seems that documents protect with specified expireTime doesn't work

[code]

This will throw an error:

[code]

[2016-11-02 22:53] grechaw commented on #313
Hi aries, this bug is in bugtrack already: 42632.  Jane is looking into it.

[2016-11-02 22:58] ayuwono commented on #313
Thanks @grechaw

[2016-11-02 22:58] ayuwono commented on #313
I will keep my eye on it and verify it after it gets fixed

[2016-11-03 17:54] ayuwono opened #315 "documents wipe with invalid temporal collection will throw a segfault"
Doing documents wipe with invalid temporal collection will throw a segfault

[code]

Segfault from ErrorLog:

[code]

[2016-11-03 18:05] ayuwono commented on #315
{ Error: connect ECONNREFUSED 127.0.0.1:8002
    at Object.exports._errnoException (util.js:1012:11)
    at exports._exceptionWithHostPort (util.js:1035:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1080:14)
  code: 'ECONNREFUSED',
  errno: 'ECONNREFUSED',
  syscall: 'connect',
  address: '127.0.0.1',
  port: 8002 }

[2016-11-03 21:26] ayuwono commented on #312
Hi @wooldridge , it seems that after the change if I do document protect without any archivePath, the temporalArchiveRecords property is not shown on the metadataValues

[code]

When you do document read, the metadataValues does not have temporalArchiveRecords

    metadataValues:
     { temporalProtectLevel: 'noUpdate',
       temporalDocURI: 'temporalUpdateDoc1.json',
       temporalProtectExTim

[2016-11-03 21:34] ayuwono commented on #312
Another test is breaking because of the change, it can't do sequential document protect

document protect for the first time is working

[code]

The second document protect failed (say I want to add the archivePath on it)

[code]

{ [Error: protect document: response with invalid 400 status (on temporalUpdateDoc1.json)]
  message: 'protect document: response with invalid 400 status (on temporalUpd

[2016-11-04 00:43] wooldridge commented on #312
@ayuwono thanks for testing. Re: the issue where temporalArchiveRecords is now not showing up if the archivePath is not defined. I'm looking at how the built-in functions work (e.g., temporal.documentProtect()), and they don't create a temporalArchiveRecords metadata property when the archivePath param is not specified. So I think the Node.js feature is working as it should be now in that case. I'

[2016-11-04 22:17] wooldridge commented on #315
I can reproduce this at the REST layer with a curl command:
[code]
So it is an issue below the Node.js API layer. I filed a bug in bugtrack: 43005

[2016-11-07 12:12] MayankBhatnagar89 commented on #269
Fix works. Verified on build MarkLogic-9.0-20161101.x86_64.
Hence shipping this bug.

[2016-11-07 12:12] #269 closed

[2016-11-07 21:52] ayuwono commented on #294
Added tests for protect update, wipe, and delete

[2016-11-07 21:52] #294 closed

[2016-11-07 22:26] grechaw commented on #315
Does 'tempDoc1.json' have to exist?  This command on an empty database doesn't throw an error.

[2016-11-07 22:34] wooldridge commented on #315
I'm seeing the segfault whether the document exists or not. I cleared my unittest-nodeapi database and ran the test without adding 'tempDoc1.json' and I experienced the error.

[2016-11-08 00:15] ayuwono commented on #295
Added test on node-update

[2016-11-08 00:15] #295 closed

[2016-11-08 22:05] ayuwono opened #316 "Running near query will throw subquery is not a query definition error"
Running near query will throw subquery is not a query definition error

[code]

Error:

[code]

Data:

[code]

[2016-11-10 19:19] wooldridge commented on #315
Working through this bug as 43005 on bugtrack. Looks like this is related to the user since running as full admin does not lead to the segfault (but running as rest-temporal-writer does).

[2016-11-11 07:49] wooldridge commented on #312
@ayuwono sequential protect is working for me now, please test. I confirmed with Jane that protecting without an archive path should not result in path metadata values. Also, there have been changes to the archive path metadata property names. I've updated tests to reflect that:

https://github.com/marklogic/node-client-api/blob/develop/test-basic/documents-temporal-protect.js#L163

[2016-11-11 19:34] ayuwono commented on #312
hi @wooldridge it seems that sequential protect is still not working

The second protect will thrown the error

[code]

[2016-11-11 19:41] ayuwono commented on #313
Working fine, added test on nodejs-temporal-protect-update.js

[2016-11-11 19:41] #313 closed

[2016-11-11 19:46] ayuwono commented on #316
Verified passed on regression 11/11

[2016-11-11 19:46] #316 closed

[2016-11-12 00:11] wooldridge opened #322 "Add self-identifier to REST API requests for server-side Telemetry metrics"
Add the header ML-Agent-ID to REST requests coming from the Node.js API. Value equal to 'nodejs'. Most likely this code will be in requester.js.

Bugtrack bug for this is: 42057

[2016-11-14 18:31] ayuwono commented on #312
I'm logging this on different issue so we don't get confused with the archivePath

[2016-11-14 18:31] #312 closed

[2016-11-14 18:33] ayuwono opened #326 "Sequential document noUpdate protect is not working"
It seems that sequential noUpdate protect is still not working

The second protect will thrown the error

[code]

[2016-11-14 22:03] jmakeig opened #327 "Release notes"
* High-level description
* Most important new/changed functionality
* Detailed change log
* Links to docs, tutorials, MLU, etc.

[2016-11-16 00:54] wooldridge commented on #326
This appears to be due to the durations chosen in the test. The following work for me:
[code]
The following (same as above test) throws an error:
[code]
Here is the error:
[code]
I will check with Jane about constraints on durations based on previous protects to see whether this is a bug or not.

[2016-11-16 02:36] wooldridge commented on #326
Jane said:

So if we're going to test sequential protects on a document, we should use something like the following for the durations:
[code]

[2016-11-16 03:25] wooldridge commented on #315
This should be fixed per 43005 in bugtrack, please test.

[2016-11-16 06:52] wooldridge opened #328 "Document dependency installation issues related to Kerberos"
Make it clear in the documentation that the [kerberos](https://www.npmjs.com/package/kerberos) library dependency can be problematic during the npm install step, particularly on Windows. This is explained some here:

https://www.npmjs.com/package/kerberos

@MayankBhatnagar89 discovered issues during npm install with the kerberos library and Windows 9. This was solved by making sure the following w

[2016-11-16 17:11] wooldridge opened #329 "Near query not returning expected results"
From @MayankBhatnagar89:

I am working on the automation of Node.js Near Query. Here I am performing a search on two words “Bush” and “Atlantic”
There are total of five json documents which I have inserted and three of them have the words Bush and Atlantic in them.
The only difference in them is the distance which is “1”, “3” and “6”.
Now when I do near query in which I have mentioned distance as

[2016-11-16 17:13] wooldridge commented on #328
@MayankBhatnagar89 mentioned this as being helpful in investigating the issue:

https://gist.github.com/saper/124a63c38bffb0a38d9b

[2016-11-16 23:49] ayuwono commented on #326
Working fine with longer duration, added test on nodejs-temporal-protect-update.js

[2016-11-16 23:49] #326 closed

[2016-11-16 23:57] ayuwono commented on #315
Verified fixed on 11/16 build. Added test on nodejs-temporal-protect-wipe.js

[2016-11-16 23:57] #315 closed

[2016-11-17 02:12] wooldridge commented on #329
@MayankBhatnagar89 thanks for discovering this. I suspect my recent commits aren't the culprit here, and that the near query wasn't working to begin with. In the nodejs-documents-query.js file on master, when I change the distance value here:

https://github.com/marklogic/node-client-api/blob/master/test-complete/nodejs-documents-query.js#L286

it has no impact on what results are returned. For ex

[2016-11-17 03:48] wooldridge commented on #329
The test is failing because search queries are run unfiltered by default; also, the word positions index is not turned on.

The test should pass if you either add 'filtered' as a search option:
[code]
or turn on the word positions index for the database.

[2016-11-17 11:52] MayankBhatnagar89 commented on #307
Test added under regression. Test name : nodejs-documents-query-3.xml

[2016-11-17 11:52] #307 closed

[2016-11-17 11:56] MayankBhatnagar89 commented on #329
Hi Mike,

Adding 'filtered' search option to query is giving desired results.Hence closing the issue.

Thanks,
Mayank

[2016-11-17 11:56] #329 closed

[2016-11-22 18:09] ayuwono commented on #264
Manual test is working fine

[2016-11-22 18:09] #264 closed

[2016-11-22 18:10] ayuwono opened #330 "Automation on cert based auth"
Automation on cert based auth

Manual test is done and running fine

[2016-11-22 18:53] ayuwono commented on #322
Hi Mike, how do you test this? For telemetry on the other features, I usually run xdmp.featureMetricStatus() against Meters DB and get back some Metrics

For Node.js, I ran some tests that have documents read, write, update, and remove. But I don't get any nodejs metrics on Meters DB. This is what I got:

<?xml  version="1.0" encoding="UTF-8"?>
<feature-metrics xmlns="http://marklogic.com/xdmp/usa

[2016-11-22 19:10] ayuwono commented on #322
FYI, I had the same problem before in Optic API. Maybe bug 43268 could be a reference

Files: xdmp/trunk/src/Modules/MarkLogic/appservices/utils/metrics-log-trace.sjs
bugtrack: 43268
call to xdmp.featureMetricIncrement() in Optic SJS

[2016-11-22 21:48] wooldridge commented on #322
From @ehennum about where the nodejs identifier might show up currently via a call from the Node.js Client API:

and:

Hope that is enough info @ayuwono.

[2016-11-23 18:03] ayuwono commented on #322
As per conversation with @ehennum, we will verify this on 9.0-1 as Justin is finalizing the metrics for REST API

[2016-12-07 20:41] wooldridge commented on #328
Possibly relevant:

https://bugtrack.marklogic.com/42805

[2016-12-08 00:16] kcoleman-marklogic opened #332 "remove crosses, equals, and touches geo region operators from JSDoc"
The geo region query operators crosses, equals, and touches have been dropped from ML9. They need to be removed from the list of available operator values in the JSDoc for the `operator` param of  `queryBuilder.geospatialRegion`.

http://pubs.marklogic.com:8011/9.0/jsdoc/queryBuilder.html#geospatialRegion

I'm going to assign this to you for now, Mike. If I get around to it first, I'll steal it fr

[2016-12-08 00:36] kcoleman-marklogic opened #333 "Correct sloppy JSDoc language wrt coordinates"
The JSDoc talks about coordinates in several places as if a point is a coordinate, rather than the components of a point being the coordinates.  It's like we took the terminology for a box (which is defined by 4 coordinates in ML) and ran with it for everything. A polygon, for example, is defined by a set of points, not just some random jumble of coordinates.

I see this going on in the following

[2016-12-08 18:13] ayuwono opened #334 "REGR:Kerberos authentication is not working"
Using 9.0-EA4 build Dec 7, the authentication is failed with 401 Authorization error

Steps:
Use the steps from https://github.com/wooldridge/ml-kerberos to setup and to run the test

[2016-12-08 18:22] wooldridge commented on #332
Thanks @kcoleman-marklogic, I will take care of it:

https://github.com/wooldridge/node-client-api/tree/ea4/issue-322-regiondoc

[2016-12-08 18:28] ayuwono commented on #334
@wooldridge this is the error message:

[code]

[2016-12-08 18:35] ayuwono commented on #334
The doc is inserted using admin user as a part of setup and we try to read it as user1 (kerberos principal test1@MLTEST1.LOCAL

config.js:

[code]

[2016-12-08 19:32] wooldridge opened #335 "Update docs for near()"
Need to say that indexes or filtering must be enabled for near() queries to work. Proposed:

"A near query requires the word positions index for the database to be turned on or the query to be run filtered by setting the search parameter in {@link queryBuilder#withOptions}. Otherwise, incorrect results may be returned. While turning on filtering can be convenient during development, setting up ind

[2016-12-08 22:18] kcoleman-marklogic commented on #335
So...I asked Mary about the whole "requires word positions" thing because we don't say that in other places  (like the apidoc for `cts:near-query`, for example), and I wondered if we should. I got back a torrent of information, which I am still trying to absorb the gist of. I'll share it with you via email so you can contemplate what, if any, implications it has for this issue.

[2016-12-09 23:02] wooldridge commented on #334
I was able to confirm the bug, I see the same 401 response on my system. I can confirm that the Kerberos handshake is happening and I get the string to put in the negotiate header. Trying to debug further with Arthur.

[2016-12-10 01:08] ayuwono commented on #334
If you set ssl-require-client-certificate to false on the external security and the app-server it will work. But I don't recall that we need to set it to false

[2016-12-10 09:02] wooldridge commented on #334
I've updated the ml-kerberos project with changes in the following branch:

https://github.com/wooldridge/ml-kerberos/tree/ea4-updates

This includes the fix for setting ssl-require-client-certificate to false.

The one ML configuration step I wasn't able to script was creating external security. I've filed a bug here:

https://bugtrack.marklogic.com/43696

@ayuwono can you test this updated branc

[2016-12-12 18:55] wooldridge commented on #334
The `principal` property is not required for the database client setup for Kerberos. That property was extraneous and I removed it in the updated branch. The result you got above shows that the test succeeded.

[2016-12-12 19:02] ayuwono commented on #334
The updated branch is working fine and @wooldridge has merged it to master. I'm using Dec 12 and tested more with documents write and query with kerberos client

[2016-12-12 19:02] #334 closed

[2016-12-13 17:34] jmakeig opened #336 "Outdated dependencies"
Virgin `npm install` on `develop` (b0ae196edd2ca447fd5a2e08b2f95b2673084b26):

[code]

And `npm outdated`:

[code]

[2016-12-13 18:24] ehennum commented on #336
While we should update direct dependencies to the latest, some of the deprecations could be indirect dependencies of the latest version of a direct dependency.  Stating the obvious.

[2016-12-13 18:42] jmakeig commented on #336
Sorry for the ambiguity in my call to action. I’m not saying we need to automatically update all of the dependencies, but we should take a look if some make more sense than others (e.g. `…avoid a RegExp DoS issue`).

[2016-12-14 22:20] wooldridge commented on #335
Revised text based on chats with Kim (and input from Mary):

"Note that you may get false positives from a near query if you do not have the appropriate position index enabled or run the query unfiltered (which is the default). While turning on filtering can be convenient during development, setting up indexes is recommended for production."

[2016-12-14 22:28] wooldridge commented on #292
See here:

https://github.com/marklogic/node-client-api/issues/322

[2016-12-16 20:26] #292 closed

[2016-12-19 22:06] tpiros opened #337 "Alerting via Node.js API?"
Hi,

Do you have plans on adding the MarkLogic Alerting capabilities to the Node.js API anytime soon?

[2016-12-19 22:19] jmakeig commented on #337
Yes, can you tell me more about your specific use case?

[2017-01-04 18:17] kcoleman-marklogic opened #340 "update copyright notices for 2017"
When you do this, please don't forget the one that goes into the jsdoc. It is here:

https://github.com/marklogic/java-client-api/blob/develop/pom.xml#L65

[2017-01-07 23:01] kcoleman-marklogic opened #341 "queryBuilder.extract cannot accept namespace bindings"
`queryBuilder.extract` thinks you can feed it namespace bindings for use in the extract path expressions. The original spec, the impl, and the JSDoc all assert this. Three cheers for consistency and ease of use.  Alas, this does not, in fact, work.

When I tried this, the node client returned a 500 (how rude) and the server log contained an XDMP-UNBPRFX error. If I pre-define my namespace prefix o

[2017-01-13 23:33] kcoleman-marklogic opened #342 "add support for true-query and false-query"
The cts layer grew two new queries last year, `cts:true-query` and `cts:false-query`. Erik has pushed them through to the Client layer by way of `true-query` and `false-query` elements for structured query. We should probably surface them through the `queryBuilder` inteface in the Node.js API.

[2017-01-13 23:48] wooldridge commented on #340
@kcoleman-marklogic I'm not seeing the jsdoc file you're referring to in the node-client-api repo. I'm also not seeing a 2016 date in the doc files after I do a 'gulp doc'.

[2017-01-13 23:58] wooldridge commented on #340
OK, we figured it out:

https://github.com/marklogic/node-client-api/blob/develop/gulpfile.js#L45

[2017-01-14 00:03] jmakeig opened #343 "Outdated dependencies"
As of b8c7828bcac093aca50a78b506f0189c19551fb7, `npm outdated` yields:

[code]

A major release is probably the best time to upgrade any/all of these. However, we should only upgrade if there's a good reason. Some of these may have incompatibilities.

[2017-01-14 00:07] jmakeig commented on #343
There are also a bunch of deprecation warnings on `npm install`:

[code]
These may or may not be the result of secondary dependencies.

[2017-01-14 00:09] wooldridge commented on #340
Fixed by the following, thanks @ayuwono:

https://github.com/marklogic/node-client-api/commit/b8c7828bcac093aca50a78b506f0189c19551fb7

https://github.com/marklogic/node-client-api/commit/2a1714993f1a9fa1389bf86435ee890941f05460

https://github.com/marklogic/node-client-api/commit/5ae34c410eaa243cc96e6aec26bf4b2affc8075b

https://github.com/marklogic/node-client-api/commit/1774374978aec462addb87a6

[2017-01-14 00:09] #340 closed

[2017-01-14 00:50] wooldridge opened #344 "Document test data is missing xml:lang attribute when written"
The data written for the following test has changed:
[code]
Running on ML9 EA4 writes this:
[code]
Running on the latest trunk writes this:
[code]
(The written data no longer has an xml:lang attribute.)

This change causes the test to fail. Test is in this file:

https://github.com/marklogic/node-client-api/blob/develop/test-basic/documents-core.js

[2017-01-18 04:25] wooldridge commented on #270
This might be relevant:

http://usejsdoc.org/tags-param.html#parameters-with-properties

[2017-01-18 15:55] kcoleman-marklogic commented on #270
Great find! I think that has a lot of potential to address some of the call object confusion. It probably still can't help with the "call object or these shortcuts" problem, but it is certainly worth experimenting with.

[2017-01-20 20:09] jmakeig opened #346 "Test connection"
As a developer I want to debug connection issues. I don't want to have to do any real work (i.e. run a dummy query or test the existence of a document) because that's extra work and potentially introduces other errors. I just want to see if my auth*n and network are configured correctly.

As an ETL tool maker, I want to provide a "Test Connection" button in my UI.

The Client REST API has the undo

[2017-01-25 02:07] #332 closed

[2017-01-25 02:08] #335 closed

[2017-01-25 03:20] wooldridge commented on #344
Internally, the above test is performing a PUT to /v1/documents as described here:

https://docs.marklogic.com/REST/PUT/v1/documents

with the following constructed path:

/v1/documents?uri=%2Ftest%2Fwrite%2Flang1.xml&lang=fr

The above documentation says the following for the "lang" URL parameter:

Because of this deprecation of the "lang" URL parameter (this deprecation happened in ML8), the tes

[2017-01-25 03:25] wooldridge commented on #344
I don't see any documentation changes need regarding this. For instance, "lang" is not a property of the DocumentDescriptor object.

[2017-01-25 05:22] wooldridge commented on #344
I confirmed with @ehennum deprecation of "lang" for PUTs and POSTs of documents in the REST layer.

[2017-01-25 05:23] #344 closed

[2017-01-25 05:56] wooldridge opened #348 "Investigate adding tests for agents and connection pooling"
Our coverage in this area is minimal at the moment. We have the following test for a custom agent:

https://github.com/marklogic/node-client-api/blob/develop/test-basic/client.js#L100

See the following PRs for some background:

https://github.com/marklogic/node-client-api/pull/308 https://github.com/marklogic/node-client-api/pull/286

[2017-01-26 18:30] wooldridge opened #349 "Publish EA4 build to npm"
https://docs.npmjs.com/getting-started/using-tags

[2017-01-26 18:57] jmakeig commented on #349
[code]

[code]

This looks correct, other than missing all of the `2.0.*` versions. (I had misinterpreted the meaning of `dist-tags` earlier. They are aliases that point to a version.) We might also consider an `ea` tag that points to the latest, non-GA release.

As part of this, can you also document the publishing process in a document or wiki page here in the repo?

[2017-01-26 18:59] wooldridge commented on #349
Thanks, @jmakeig. Yes, I'm in the process of documenting the publishing process.

[2017-01-26 19:03] jmakeig commented on #349
Please also publish `2.0.0-ea4` as part of this task.

[2017-01-26 19:05] ehennum opened #350 "authentication via Expect 100-CONTINUE"
Investigate replacing the preliminary HEAD request with setting the Expect header if we don't have the digest nonce, setting the digest nonce in the authenticator during the error response, and reexecuting the request, without the Expect: 100-CONTINUE header.

Per:

https://nodejs.org/api/http.html#http_http_request_options_callback

If I read correctly, Node.js doesn't send the body unless it get

[2017-01-28 01:01] wooldridge commented on #349
Version `2.0.0-ea4` has been published to npm. To accomplish this, cloned EA4 branch and ran:

`npm publish . --tag ea`

to publish with the 'ea' tag (and not the 'latest' tag).

[code]

[2017-01-28 01:23] wooldridge commented on #349
The Node.js Client API release procedure is documented here:

https://wiki.marklogic.com/display/ENGINEERING/MarkLogic+Node.js+Client+API+github+and+npm+Release+Procedure

I added additional information about EA releases based on our recent discussion.

[2017-01-28 01:23] #349 closed

[2017-01-28 01:29] jmakeig commented on #349
This looks great. Thanks @wooldridge.

[2017-01-30 17:15] wooldridge opened #351 "npm warning, child_process: options.customFds option is deprecated"
From @MayankBhatnagar89 on 2017-01-30:

On 8.0 Mac platform we are facing an issue where “npm” is throwing below mentioned warning :

**********************
npm --version
(node:17095) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.
1.4.28
**********************

All tests are passing but it’s just appendi

[2017-01-30 22:31] jmakeig commented on #297
@wooldridge, is this still on target for 2.0.1?

[2017-01-30 22:40] wooldridge commented on #351
I'm seeing the following dependencies (or subdependencies) in the node-client-api having graceful-fs as a dependency:
[code]

[2017-01-30 23:08] wooldridge commented on #268
Since is a REST API issue, I'm moving this to Bugtrack an assigning it to @ehennum:

https://bugtrack.marklogic.com/44316

[2017-01-30 23:08] #268 closed

[2017-01-30 23:48] wooldridge commented on #250
Also adding same "borrows" reference for the new geospatialRegion() method.

[2017-01-31 00:42] wooldridge commented on #285
@jmakeig you can find info about 9.0-ea3 changes (and 9.0-ea4 changes) here:

engsvn/engweb/specifications/functional/b9_0/Nodejs_Client_API

Let me know if you need anything else from me and close this if the above is sufficient.

[2017-01-31 02:35] wooldridge commented on #348
Related: #179

[2017-01-31 08:23] wooldridge commented on #297
@jmakeig, I'm working on it, AFAICT yes.

[2017-01-31 16:34] wooldridge commented on #250
@kcoleman-marklogic, this fixes the fact that the geospatial() and geospatialRegion() methods were not showing up in the docs under the valuesBuilder namespace.

[2017-01-31 16:38] wooldridge commented on #251
@kcoleman-marklogic, this fixes the fact that the geoOptions() method was not showing up in the docs under the valuesBuilder namespace.

[2017-01-31 17:43] kcoleman-marklogic commented on #251
Looks fine to me.

[2017-01-31 17:46] kcoleman-marklogic commented on #250
Are you sure `geospatialRegion` should be showing up in valuesBuilder? My recollection is that you cannot do a values (or tuples) query against a region index. And, indeed, if I try to do so, I get the following error:
[code]
You should confirm with Jake, but I do not recall any mention of support for lexicon queries on regions in the overlapping polygon spec.

[2017-01-31 17:47] ehennum commented on #250
That's my recollection as well -- range indexes over regions is a potential future.

[2017-01-31 18:20] jmakeig commented on #297
Splentabulous.

[2017-01-31 21:15] #251 closed

[2017-01-31 21:31] wooldridge commented on #250
Thanks @kcoleman-marklogic and @ehennum. I confirmed with Jake that the region index will not support lexicon calls in 9.0-1.

[2017-01-31 21:31] #250 closed

[2017-02-01 03:32] wooldridge commented on #297
@jmakeig, I've added the Error.captureStackTrace() call to include stack trace information in the MarkLogicError object when the API makes calls to the MarkLogic server. This gives stack information from the API side (Node.js code), e.g.:
[code]
This doesn't address the cases of eval(), etc., where there might be useful stack information for the custom code being executed on the server. Here are s

[2017-02-01 06:01] wooldridge commented on #254
@csreddy, I can't reproduce this bug. I've tried various combinations of API (develop, 1.0-develop, master, 1.0-master) and ML (8.0-6, 9.0-ea4, trunk) versions. Do you recall the environment you were using?

[2017-02-01 06:44] csreddy commented on #254
Sorry, it was a long time ago. It could be 8.0.x build, that's all I remember

[2017-02-01 16:37] wooldridge commented on #351
From @MayankBhatnagar89 2017-01-31:

Also I would like to share that the npm version is 1.4.8 on 8.0 regression machines whereas on 9.0 machines its 3.10.3 and we are not seeing any issue on 9.0

[2017-02-01 16:47] wooldridge commented on #351
Related to this issue is the issue for addressing outdated dependencies:

https://github.com/marklogic/node-client-api/issues/343

[2017-02-02 00:48] wooldridge commented on #343
Investigating.

I'm seeing the following as of 9e788d27ad024b53e20379c1abccf25ca6e0b653:
[code]
Also:
[code]

[2017-02-02 02:12] wooldridge commented on #343
I updated the package.json with everything in the above "npm outdated" list (incuding the concat-stream to ^1.6.0, which wasn't showing up in my list). I ran the tests in test-basic and had to correct one thing, a file reference in bluebird-plus.js. Once I did that, the tests in test-basic all passed:

`293 passing (59s)`

Next I will attempt to fix items on the deprecated list. I also need to:

-

[2017-02-02 02:15] wooldridge commented on #336
This is being addressed by:

https://github.com/marklogic/node-client-api/issues/343

[2017-02-02 02:22] wooldridge commented on #254
Since I can't reproduce this and I'm not seeing this issue in my work on another probe() issue:

https://github.com/marklogic/node-client-api/issues/255

I'm confident this is no longer an issue and am closing.

[2017-02-02 02:22] #254 closed

[2017-02-02 03:40] wooldridge commented on #231
MarkLogicClient.remove() should also be addressed per the documentation:

[2017-02-02 15:48] kcoleman-marklogic commented on #231
Mike, if you find other things to remove/change besides the items called out here, please add them so that I can ensure they all make it into the release notes.

[2017-02-02 17:15] jmakeig commented on #297
@wooldridge, do we have a separate task to capture the _remote_ error stack? If so, please link and we can close this one.

[2017-02-02 17:33] wooldridge opened #357 "Capture stack traces from remote errors"
When an error occurs in a call to `eval()`, `invoke()`, `xqueryEval()`, or a resource service, expose the stack trace from the server in the Node.js `MarkLogicError` object.

As @jmakeig said in https://github.com/marklogic/node-client-api/issues/297:

This will require C++ work on the server. From @ehennum:

QConsole is able to get stack information by wrapping executed code in try/catch statemen

[2017-02-02 17:34] wooldridge commented on #297
Additional work moved to https://github.com/marklogic/node-client-api/issues/357.

[2017-02-02 18:23] jmakeig commented on #343
What’s our philosophy on [shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap)?

[2017-02-02 18:36] wooldridge commented on #343
I researched on shrinkwrap and presented to the API Team:

https://wiki.marklogic.com/display/~mwooldri/npm+shrinkwrap

The response from the team was positive. We've also implemented this in [Samplestack](https://github.com/marklogic/marklogic-samplestack).

Once our dependencies are locked down for this Node Client API release and the code is tested by QA, I'd like to add a shrinkwrap file to lo

[2017-02-02 19:12] wooldridge opened #358 "Apply npm shrinkwrap prior to release"
[npm shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap) is a command line tool for npm that locks down the versions of a project’s dependencies. It lets you control exactly which versions of each dependency will be installed when a user runs `npm install`.

I researched shrinkwrap and presented to the API Team:

https://wiki.marklogic.com/display/~mwooldri/npm+shrinkwrap

The response from the tea

[2017-02-02 19:12] wooldridge commented on #358
Related: https://github.com/marklogic/node-client-api/issues/343

[2017-02-02 19:15] wooldridge commented on #231
Per email discussion with @ehennum and @jmakeig, we will deprecate the transactionId string and legacy slice option in ML9 and remove those features entirely in ML10. I will add to the JSDoc regarding this in my check-in and @kcoleman-marklogic can review.

[2017-02-02 19:36] #255 closed

[2017-02-02 19:57] ayuwono commented on #330
Done

[2017-02-02 19:57] #330 closed

[2017-02-02 20:17] ayuwono commented on #322
Hi @wooldridge, is this testable? Because I still see this after running Node.js tests

[code]

[2017-02-02 21:27] kkanthet opened #359 "Come up with forward and backward compatibility policy for node-client-api"

[2017-02-02 22:15] wooldridge commented on #322
@ayuwono, can you tell me what test is producing that? Are you invoking Optic from the Node.js Client API? @ehennum, do you have any suggestions here?

[2017-02-02 23:36] wooldridge commented on #297
@ayuwono reviewed PR.

[2017-02-02 23:36] #297 closed

[2017-02-03 00:05] ayuwono commented on #322
No, I don't invoke Optic from Node.js. I just run Node.js Client API functions like documents write, read, and query

My understanding is when you run Node.js Client API functions, these should be captured by the metric? Am I wrong?

[2017-02-03 00:47] wooldridge commented on #322
I'm not sure what's implemented at this point and what we can expect to appear in the metrics. @ehennum or @jmakeig may know, we can check with them.

[2017-02-04 07:40] wooldridge commented on #231
@ayuwono, these updates to address deprecated features will break tests:

- Remove() methods for documents now only return arrays of one or more URIs. So any tests that expect a string return value need to be fixed.
- The transactions.open() method now returns a full-fledged Transaction object by default instead of an object with a transactionId string. So any tests not expecting the Transaction o

[2017-02-04 07:58] wooldridge commented on #343
Tested certificate authentication with updated dependencies by running through the steps in the README here:

https://github.com/wooldridge/ml-certauth

Test passed.

[2017-02-04 09:13] wooldridge commented on #343
In testing with Kerberos, I'm running into the following error:
[code]
It seems my client and the KDC are out of sync with regard to their clocks. Some info here:

http://community.centrify.com/t5/Centrify-Express/Clock-skew-too-great-between-this-machine-and-the-domain-server/td-p/20832

Investigating with Arthur.

[2017-02-04 09:32] wooldridge opened #361 "Improve error handling with Kerberos errors"
The following is insufficient in the case of a Kerberos error under the hood:
[code]
Need to at least display the err object. This was apparent in https://github.com/marklogic/node-client-api/issues/343#issuecomment-277430662 when I had to console.log() the authGSSClientStep err object to figure out what was going on.

[2017-02-04 10:07] wooldridge opened #362 "The example query-builder.js not completing"
When running all the examples at once, as described in the README, or when running query-builder.js alone, execution dies near the end of query-builder.js:
[code]
It should end like this:
[code]
All other examples complete successfully when run by themselves.

When query-builder.js is edited to use a promise instead of a stream (similar to how query-by-example.js uses a promise), the script comple

[2017-02-04 10:08] wooldridge commented on #343
There was a hiccup running the examples, but this doesn't appear to be related to the updated dependencies. Filing an issue here: https://github.com/marklogic/node-client-api/issues/362

[2017-02-05 08:38] wooldridge commented on #343
Arthur fixed the problem described in https://github.com/marklogic/node-client-api/issues/343#issuecomment-277430662. He said:

So the manual Kerberos tests passed.

[2017-02-06 17:33] jmakeig commented on #343
Clock Skew Too Great also happens to be the name of my experimental prog rock collective.

[2017-02-06 17:40] grechaw commented on #343
CSTG played a mighty progressive show to four discerning gray-ponytailed fans at the Konocti resort in Lake County.

[2017-02-06 19:44] wooldridge commented on #343
I'm going to move the module updates in package.json here to test for QA since they've passed all my preliminary tests (test-basic, cert auth, Kerberos, examples).

I'm going to move the deprecation warnings to a separate issue. Based on my investigation so far, we need to update our documentation library, jsdoc (and gulp-jsdoc). The gulp-jsdoc library is no longer being maintained, see:

https://

[2017-02-06 19:59] wooldridge opened #363 "Update jsdoc libraries"
The modules that handle the documentation generation ([jsdoc](https://www.npmjs.com/package/jsdoc) and [gulp-jsdoc](https://www.npmjs.com/package/gulp-jsdoc)) are out of date. The gulp-jsdoc library is no longer being maintained so we need to move to gulp-jsdoc3.

The use of these out-of-date libraries is also causing deprecation warnings during `npm install` since they use outdated subdependencie

[2017-02-06 20:07] wooldridge opened #364 "Address deprecation warnings during npm install"
Currently, deprecation warnings about outdated dependencies appear during `npm install`:
[code]
Some of these warnings will go away after we update our jsdoc and gulp-jsdoc libraries, see https://github.com/marklogic/node-client-api/issues/363. After that is taken care of, we can look at the remaining warnings and see what can be addressed.

This issue came out of https://github.com/marklogic/node

[2017-02-06 23:23] ayuwono commented on #231
Changed all of the affected tests

[2017-02-07 00:38] wooldridge commented on #343
@ayuwono, please test the API with the merged updates to package.json.

[2017-02-07 00:50] wooldridge commented on #231
@kcoleman-marklogic, can you review the changes to the jsdoc comments for this fix? You can see what changed here:

https://github.com/marklogic/node-client-api/pull/360/files

Namely, there are comment changes for:

DatabaseClient.remove()
queryBuilder.slice()
transactions.open()

[2017-02-07 15:14] wooldridge commented on #271
@jmakeig, where do we document this? For example, I don't see the Node.js Client API dependencies listed here:

https://wiki.marklogic.com/display/PM/MarkLogic+Server+Open+Source+Inventory

[2017-02-07 15:38] wooldridge commented on #227
I can reproduce.

Debugging info looks like the following:
[code]
1. withOptions debug false
[code]
operation.requestBody:
[code]
** Debugging info returned **

2. withOptions debug true
[code]
operation.requestBody:
[code]
** Debugging info returned **

3. withOptions NOT INCLUDED

operation.requestBody:
[code]
** Debugging info NOT returned **

[2017-02-07 15:48] wooldridge commented on #227
Here's a curl version:
[code]
With q.json:
[code]
@ehennum, with the above payload (`"debug": false`), should I expect to see debugging info (i.e., `'snippet-format'` and the like) returned? In this case, I am seeing it.

[2017-02-07 18:18] ehennum commented on #227
The difference above is the difference between requesting a search summary or requesting just the documents.  A request for snippets, facets, or metrics requires a search summary.

The debug flag controls whether or not the search summary reports the cts.query that was executed.  One way to see the difference is to run a search:search() query (using elements) in QueryConsole, with both true and fa

[2017-02-08 05:16] #336 closed

[2017-02-08 05:26] wooldridge commented on #201
I can't reproduce, this is working for me:
[code]
Closing this issue.

[2017-02-08 05:26] #201 closed

[2017-02-08 06:22] wooldridge commented on #227
Thanks for the clarification, @ehennum. It doesn't seem to me like Sudhakar's first example above should return a summary since this doesn't ask for snippets, facets, or metrics:
[code]
Is there a way to suppress the summary via a withOptions property?

[2017-02-08 06:28] ehennum commented on #227
If the code doesn't want the summary, it shouldn't provide withOptions().

Turning off all of the options to suppress the summary doesn't make a lot of sense.  Just omit the options.

If you feel that it should work, it's the responsibility of the Node.js API not to send the options if it's a nullop. But, I would suggest that the Node.js API shouldn't incur that responsibility.

[2017-02-08 06:34] wooldridge commented on #227
Thanks, @ehennum, I see your point. I think the relationship between withOptions() and the summary deserves some explanation in the jsdocs. I will do that.

[2017-02-08 18:52] ayuwono commented on #343
Tested and verified

[2017-02-08 18:52] #343 closed

[2017-02-09 22:44] ayuwono commented on #342
Added test on nodejs-documents-query.js

[2017-02-10 00:30] wooldridge commented on #342
@kcoleman-marklogic, if you could review the jsdoc stuff for this, that would be great.

[2017-02-10 21:54] ayuwono commented on #322
I'm changing this to verify since you need check with Justin

[2017-02-10 22:09] ehennum commented on #322
Did we ever add the metrics to the REST API?  If we haven't, Node.js requests won't show up.

I believe @jmakeig was working with Alex to add those metrics.  I'm not sure about the state of the task at present.

Assigning to Justin.

[2017-02-12 22:30] tpiros opened #367 ".withOptions() for .suggest()"
I'd like to propose an enhancement request for the `.suggest()` method. Imagine a scenario where I'd like to populate an autocomplete box in a GUI, where I'd like to allow to user to execute a search, and if a selection is made from the autocomplete box, I'd like to send that user to the document where the match occurred.

Here's a very simple code of what I'm proposing:

[code]

Using such a quer

[2017-02-13 10:02] tpiros opened #368 ".suggest() response data"
Given a few sample documents in the datababase

[code]

And the following sample code:

[code]

Why does the response have the following format:

[code]

For a suggestion of `a darth` I'd expect 0 results. Why do I get the 'a' appended to the response?

For a a suggestion of `darth`, I'd expect to see:

[code]

but why do I still get the extra quotes?

[code]

What's their purpose?

[2017-02-14 01:50] wooldridge commented on #227
Adding the following to the documentation for withOptions() to clarify when and why the summary object appears:

When the 'debug', 'metrics', 'queryPlan', or 'similarDocs' parameter is set, a search summary object will be returned along with the result documents.

[2017-02-14 01:54] wooldridge commented on #227
@kcoleman-marklogic, please review this update to the jsdoc documentation.

[2017-02-15 18:45] jmakeig commented on #368
I think the issue is that `suggest()` is aware of the query string. It’s not just a lexicon look-up. @wooldridge, can you confirm, please?

[2017-02-15 19:31] wooldridge opened #372 "Deploy updated jsdocs to pubs and docs.marklogic.com"
Generate jsdocs content for the 2.0.0 release and deploy it to pubs and docs.marklogic.com. This should happen close to the time of the release so as to pick up all documentation changes for the release.

The jsdocs libraries are being updated for this release so there may be bumps to smooth over, see #363. E.g., need to make sure inline JavaScript is extracted from template files.

[2017-02-15 19:36] wooldridge opened #373 "Improve organization of jsdoc documentation"
Improve organization of jsdoc documentation. In particular, highlight the operations that developers are more likely to need to use on key landing pages. @jmakeig says:

[2017-02-15 21:10] kcoleman-marklogic commented on #372
Once you merge your changes to the develop branch, they'll get picked up automatically by the doc build and we can see if there are problems.

[2017-02-15 21:47] tpiros commented on #190
Just checking in to see if this will be added anytime soon.

[2017-02-15 21:48] tpiros commented on #337
@jmakeig If I remember correctly I have emailed you the requirements - would you like me to paste them here as well?

[2017-02-16 00:17] #363 closed

[2017-02-16 00:25] wooldridge commented on #364
After having updated the jsdoc and gulp-jsdoc3 libraries in #363, we have fewer deprecation complaints during npm install. As of 14ba2942e1bd21361e30f4e09832f241ccb76ecb:
[code]
The above deprecation warnings are due to subdependencies of other libraries that we can't do anything about:

minimatch@2.0.10 - subdependency of glob-stream@3.1.18, under gulp 3.9.1
minimatch@0.2.14 - subdependency of gl

[2017-02-16 00:25] #364 closed

[2017-02-16 00:27] wooldridge commented on #372
Merged jsdoc updates in PR https://github.com/marklogic/node-client-api/pull/374.

[2017-02-21 21:25] wooldridge opened #375 "Review and address static analysis tool results"
We have a static analysis tool that analyzes source code and flags potential defects. It uses plug-ins such as JSHint as well as its own tests. We need to review the scan results of the Node.js Client API  source code and evaluate what fixes should be made. This is based on discussion with Tom T. on 2017-02-21.

[2017-02-22 00:49] wooldridge commented on #372
When deployed to pubs, index.html page looks OK but clicking through to another page throws the following error:
[code]
Note the error text `The provided markup is invalid XML`. Most likely need to rewrite some generated HTML (probably in `toc.js`) to make it conform to XML standards.

[2017-02-22 17:15] wooldridge commented on #372
The error is being caused by HTML generation in the following script file:

https://github.com/docstrap/docstrap/blob/master/template/static/scripts/docstrap.lib.js

and not in a template or script file higher up that would be more straightforward to diagnose and edit.

My current plan is to try previous versions of the docstrap template. I hope to find a version that plays nicely with our system

[2017-02-22 21:21] jmakeig commented on #372
I still don't understand why docstrap is concerned with XML. Are you [serving the page as application/xhtml+xml](http://stackoverflow.com/a/27825917/563324)?

[2017-02-22 21:25] kcoleman-marklogic commented on #372
Docstrap doesn't care about XML, but the app that hosts the docs is a MarkLogic app and it cares very much about XML.

[2017-02-23 02:51] wooldridge commented on #372
Switched from v1.3.0 of the docstrap template to v1.1.4 and still see the exact same error from the pubs server. (Thanks so much @kcoleman-marklogic for helping with the pubs server setup.) Will try going back further.

[2017-02-23 03:19] wooldridge commented on #372
Tried docstrap template v1.0.5, same error.

[2017-02-23 03:57] wooldridge commented on #372
Tried docstrap template v0.5.4, this works. No invalid XML complaints.

[2017-02-23 07:37] wooldridge commented on #372
docstrap template v1.0.0 works, docstrap template v1.0.1 fails with the invalid XML error. So we will work with template v1.0.0.

[2017-02-23 08:56] wooldridge commented on #372
This commit is what generates the invalid XML, specifically the changes to how the sidebar is built in scripts/toc.js: https://github.com/docstrap/docstrap/commit/4a00a46b8afd3f8090696a8ad43390656b77c015#diff-47b5846bd13d172323b1ad8ca80495f1R74

[2017-02-24 15:42] kcoleman-marklogic commented on #372
This looks good and the sidebar appears to be working now, which is great. Thanks!

There does seem to be something off about the content, though. What used to be a "DatabaseClient" entry in the namespace dropdown is now "marklogic~DatabaseClient" (which is weird, but probably OK) and is missing quite a lot of methods.

I only see eval, invoke, and and xqueryEval. It's missing all the stuff like r

[2017-02-24 16:54] wooldridge commented on #372
@kcoleman-marklogic thanks so much for reviewing. I will investigate the DatabaseClient doc issues.

[2017-02-24 17:19] kcoleman-marklogic commented on #372
I spent some more time flipping through the new JSDoc. Most of it looks fine, AFAICT, but there are a couple more differences that caught my eye. Possibly, they're WAI from your perspective.

Under patchBuilder, I notice that "Members" all have a "#" prefix, both in the sidebar and in the rest of the page content. Is that intended? They didn't have that before, but I'm not familiar enough with JS

[2017-02-24 18:43] jmakeig commented on #372
The `#` is part of JSDoc’s default string serialization of a `memberOf`-related property, i.e. `Person#name`.

[2017-02-24 21:21] wooldridge commented on #372
Thanks for the help. Nothing I edited in the template should affect how the jsdoc is being interpreted and displayed in terms of the content. I mainly made CSS tweaks and moved some inline scripts to separate files. Looks like the new version of the jsdoc library is working differently than the previous. I will dig in and try to learn more about jsdoc. @kcoleman-marklogic and @jmakeig, feel free t

[2017-02-28 18:48] wooldridge opened #379 "In docs, add 'javascript' as a transform format option"
The format option in config.transforms.write() can accept 'javascript' for JS-based transforms:

https://docs.marklogic.com/jsdoc/config.transforms.html#write

[2017-02-28 18:54] #379 closed

[2017-03-01 18:26] jmakeig opened #381 "Validate compatibility"
As a developer, I want a light-weight way to check that I’m able to connect to my MarkLogic cluster (network, authentication) and that my client has been certified to work against the version of the Server to which I’m connecting. (Imagine a UI ETL application implementing a “Test Connection” screen.)

As a Support Engineer, I want to quick way to verify compatibility between a client and a server

[2017-03-02 18:48] ayuwono opened #383 "Node.js Client API unit test failures"
Build: 03/02

There are a couple of failures on Node API unit tests on Jenkins:

http://jenkins.marklogic.com/view/Node%20API/job/NodeAPIUnitTests_develop_xdmp-trunk/lastCompletedBuild/testReport/

[code]

[2017-03-02 20:43] wooldridge commented on #383
@ayuwono, the first "language-specified XML" issue references a test that was removed a few weeks ago: https://github.com/marklogic/node-client-api/commit/61861a627be8cc201f1e595523cd3e7562a8f0e8

Maybe this has something to do with the recent removal of lang support in the REST layer here:

https://bugtrack.marklogic.com/44500

But I don't understand when the now-removed Node.js test is still sho

[2017-03-03 08:12] wooldridge commented on #372
Working with @ehennum, recovered the missing methods on the marklogic module by tagging marklogic as a namespace instead of a module. This moves marklogic from the Modules top-nav menu to  the Namespaces top-nav menu. There no longer a Modules top-nav menu.

Unfortunately, this buries the marklogic namespace in the middle of the Namespaces menu. At this point I see no other fix for the missing met

[2017-03-03 18:34] kcoleman-marklogic commented on #372
Looks much better. Thanks, Mike.

Just noticed a couple minor things on the landing page (index.html):
* Don't forget to remove the EA references before ship. It shows up in the Status subsec and you'll want to collapse the "New Features in ... EA*" subsecs into a single "New Features in 2.0.0".  Might want to make a task for that if there isn't already one.
* Near the top of the Getting Started s

[2017-03-03 21:49] ayuwono commented on #383
@wooldridge, I have no idea why it's still showing up. I'm trying to grep under test-basic folder and the test description is not there

Maybe @jhoy might know it better. I checked the jenkins stdout and it's doing git checkout on develop

[2017-03-05 21:45] kcoleman-marklogic commented on #372
Reassigning to @wooldridge to decide whether to address the README.md related issues above now, as part of this task, or later. (Mostly the EA thing. The links are a very minor issues, IMO, and need not be addressed for ship.)

From my perspective, there is no other action required, and this can be closed.

[2017-03-06 06:22] wooldridge opened #386 "Update the README for version 2.0.1 release"
Remove EA information and replace with information describing the 2.0.1 release.

[2017-03-06 06:23] wooldridge commented on #372
Thanks, @kcoleman-marklogic. I agree that this issue has been taken care of and can be closed. Moving the REAME tasks to #386.

[2017-03-06 06:24] #372 closed

[2017-03-06 06:30] wooldridge commented on #386
@kcoleman-marklogic, I updated the README file for the upcoming 2.0.1 release. Please review PR #387.

[2017-03-07 20:10] wooldridge commented on #351
@MayankBhatnagar89, is this still an issue?

I updated direct dependencies per #343 (current develop branch) but there are still some (sub)dependencies that are based on older versions of graceful-fs. There's nothing we can do about that.

If this is a significant issue on your side, you can try upgrading your npm:
[code]

[2017-03-10 09:12] wooldridge commented on #383
I explained the graphs test failure to @grechaw by email and I'm hoping he has some insight. The SPARQL Update query for that test is not inserting the expected triple. Here is the query:
[code]
with the following bindings:
[code]
When I create the `marklogic.com/graph3` graph separately and then run the following in QConsole (same INSERT WHERE code but without the binding via URL params):
[code]

[2017-03-10 17:11] grechaw commented on #383
responded to @wooldridge , I think the test may have been a false pass before 44052 was fixed.  Just a guess there ,but I did find that the binding is probably wrong.  Server side, b1 should be
b1: sem:iri('marklogic.com/p1').  In node, I think that this structure is probably correct, but somehow it's not getting to the REST layer as an IRI.

[2017-03-10 18:19] wooldridge commented on #383
@grechaw, thank you so much. I suspected binding was the issue so I can now focus on that and try to take care of this.

[2017-03-10 18:23] grechaw commented on #383
Not a problem -- I do recall I had to include a new test to prove the false positive.

Do an insert with a WHERE that matches, check for insert.  do an insert with a WHERE that does not, and check that nothing is inserted.

[2017-03-10 18:42] wooldridge commented on #383
Pasting extremely helpful info from @grechaw via email:

I think the issue you have is with the type of your binding.

the INSERT is only triggered if the WHERE clause is matched.  I just tried this -
[code]
only the second sparql matches the triple, because all subjects and predicates in RDF are iris.

passing the binding as an iri is the way to go -- it will be faster than, say, casting to a str

[2017-03-10 21:09] wooldridge commented on #383
I believe I found the problem. In the underlying REST calls, the `using-graph-uri` and `using-named-graph-uri` params take URI values as described here:

https://docs.marklogic.com/REST/POST/v1/graphs/sparql

The Node.js Client API docs have the corresponding `usingDefaultGraphs` and `usingNamedGraphs` params taking booleans:

https://docs.marklogic.com/jsdoc/graphs.html#sparqlUpdate

To fix the t

[2017-03-10 21:36] wooldridge commented on #383
The test also passes when I remove this part altogether from the query:
[code]
which is here:

https://github.com/marklogic/node-client-api/blob/master/test-basic/graphs.js#L232

I need to discuss with @grechaw what is the appropriate setting for this situation.

[2017-03-10 22:51] wooldridge commented on #383
Chatted with @grechaw and got a few things cleared up:

- The `using-graph-uri` param is specifies the WHERE graph in SPARQL Update
- But we don't need to use a separate graph specification in our test since we're specifying the graph explicitly in the query; the separate graph specification is superfluous
- For hints on testing these params, see the SPARQL Update tests in the following: xdmp/test

[2017-03-11 00:41] wooldridge commented on #383
Fixing test by changing what `usingDefaultGraphs` and `usingNamedGraphs` accept (URIs not booleans). Keeping `usingNamedGraphs` and adding `usingDefaultGraphs` in test for coverage purposes.

[2017-03-11 00:50] wooldridge commented on #383
@ayuwono, I fixed the SPARQL Update test that was failing. The "language-specified XML string" test shouldn't be relevant.

You will need to fix tests that use the `graphs.sparqlUpdate()` function with `usingDefaultGraphs` and `usingNamedGraphs`properties. Those properties now take one or more URI values rather than booleans. The properties correspond to the `using-graph-uri` and `using-named-grap

[2017-03-11 01:16] wooldridge commented on #328
Updated KERBEROS.md with info on how to skip Kerberos installation for users who do not need it. Windows issues are documented adequately on the kerberos module page, which we link to directly.

[2017-03-11 01:16] #328 closed

[2017-03-11 01:32] wooldridge commented on #271
We do take the DocStrap documentation template, modify it, and include the modified version in the Node.js Client API distribution. Checking with legal about how to deal with this.

[2017-03-11 17:22] kcoleman-marklogic commented on #386
Looks good, Mike. Thank you. Sorry for the review delay.

[2017-03-12 17:58] #386 closed

[2017-03-12 19:19] wooldridge commented on #375
Need to confirm that issues addressed in #390 are no longer seen in static analysis report next time it runs.

[2017-03-12 20:54] wooldridge opened #394 "Update dependencies to latest"
Update the following bring dependencies up to date based on `npm outdated` run on 2017-03-23:

gulp-mocha 3.0.1 -> 4.1.0
should 11.2.0 -> 11.2.1
kerberos 0.0.22 -> 0.0.23

[2017-03-12 20:56] wooldridge commented on #394
Addressed in PRs: #392, #393

[2017-03-12 20:58] wooldridge commented on #394
@ayuwono, can you confirm that these dependency updates cause no problems with your tests? I ran the tests in `test-basic` on the develop branch after these updates and everything passed.

[2017-03-12 21:42] wooldridge commented on #358
@ayuwono, I've added an npm-shrinkwrap.json file to local down dependencies based on current package.json (after #394 dependencies were added).

Please test. We can easily remove or regenerate this file (based on changed dependencies) if needed.

[2017-03-13 19:55] wooldridge commented on #271
Guidance from Zak:

and

[2017-03-13 20:09] wooldridge commented on #271
Files have been updated/added:

https://github.com/marklogic/node-client-api/blob/develop/LICENSE
https://github.com/marklogic/node-client-api/blob/develop/NOTICE

[2017-03-13 20:45] ayuwono commented on #394
Regression on test-complete is passing too

[2017-03-13 20:46] #394 closed

[2017-03-13 20:47] ayuwono commented on #358
npm install and running test regression on test-complete are fine

[2017-03-13 20:47] #358 closed

[2017-03-13 20:57] wooldridge commented on #271
Content above OKed by Zak by email, closing issue.

[2017-03-13 20:57] #271 closed

[2017-03-13 23:00] wooldridge commented on #383
@ayuwono, regarding the API changes described above, I would expect the following test (and similar ones that set `usingDefaultGraphs` or `usingNamedGraphsproperties`) to fail:

https://github.com/marklogic/node-client-api/blob/develop/test-complete/nodejs-sparql-update.js#L330

If the test is still passing, I'd guess it is passing because it thinks graphs in the test are named `false` and `true`,

[2017-03-13 23:05] ayuwono commented on #383
Thanks for the update @wooldridge, I will update the graph names

[2017-03-14 01:32] wooldridge commented on #303
Running test-basic suite on MarkLogic/Node.js Client API combinations. Should only see failures for incompatible tests.

**MarkLogic: 8.0-6.3**
**Node.js Client API: develop branch 2017-03-13 (2.x)**
17 test failures
All test failures can be explained by features supported in ML9 and not ML8:

1) document metadata write all except properties with one document should read back the metadata and cont

[2017-03-14 01:48] wooldridge commented on #303
**MarkLogic: 9.0-20170113**
**Node.js Client API: tag 1.0.6**
1 test failure
Can be explained by capability in ML8 that was removed in ML9:

1) document content write a language-specified XML string should read back the content:
[code]

See https://github.com/marklogic/node-client-api/issues/344

[2017-03-14 01:56] wooldridge commented on #303
**MarkLogic: 8.0-6.3**
**Node.js Client API: tag 1.0.6**
All tests passed

[2017-03-14 02:00] wooldridge commented on #303
**MarkLogic: 9.0-20170113**
**Node.js Client API: develop branch 2017-03-13 (2.x)**
All tests passed

[2017-03-14 02:06] wooldridge commented on #303
**MarkLogic: 7.0-20151104**
**Node.js Client API: develop branch 2017-03-13 (2.x)**
Failing at test setup:
[code]

[2017-03-14 02:07] wooldridge commented on #303
**MarkLogic: 7.0-20151104**
**Node.js Client API: tag 1.0.6**
Failing at test setup:
[code]

[2017-03-14 02:30] wooldridge commented on #303
In summary, based on running test-basic suite on ML/Node.js combinations:
<table>
  <thead><tr><th>&nbsp;</th><th>Client 1.x</th><th>2.x</th></tr></thead>
  <tbody>
    <tr><th>MarkLogic 7</th><td>Unable to<br/>run tests</td><td>Unable to<br/>run tests</td></tr>
    <tr><th>MarkLogic 8</th><td>Full</td><td>1.x</td></tr>
    <tr><th>MarkLogic 9</th><td>1.x</td><td>Full</td></tr>
  </tbody>
</table>

[2017-03-14 02:31] wooldridge commented on #303
@jmakeig, please review.

[2017-03-14 20:20] jmakeig commented on #303
One major release in each direction for client and server is the requirement. The objective is to allow customers to upgrade clients and server serially, not at the same time. I’m OK with considering 7 “legacy” based on your findings above.

[2017-03-14 21:19] kkanthet commented on #303
The expectation is
- 1.0.6 full regression should pass on ML-8.0-6
- 1.0.6 & 2.0.0 full regression  should pass with marklogic-9.0-1
- for  ML-9.0-1,  1.0.6 full regression should pass in mixed mode (i.e one ML node with ML-9.0-1 and 2 nodes with ML-8.0-6)

[2017-03-14 21:21] jmakeig commented on #303
If I'm reading @wooldridge’s table above correctly, we’ve met those requirements.

[2017-03-14 21:28] wooldridge commented on #303
@kkanthet, version 1.0.6 of the Node.js Client API has a test in test-basic that does not pass on ML 9 because the REST API in ML 9 has removed support for a deprecated XML attribute, "lang":

https://github.com/marklogic/node-client-api/issues/303#issuecomment-286297394

See here for more details:

https://github.com/marklogic/node-client-api/issues/344

If full regression tests include tests for

[2017-03-14 21:46] ayuwono commented on #383
The original test failures are fixed

[2017-03-14 21:46] #383 closed

[2017-03-14 22:05] wooldridge commented on #303
@jmakeig, I updated the README for 2.0.1 to specify compatibility info. Please review #397.

[2017-03-15 23:55] #303 closed

[2017-03-16 01:50] #227 closed

[2017-03-21 18:37] jmakeig commented on #327
@wooldridge Whose responsibility is this? Docs? QA? Dev?

[2017-03-21 18:39] jmakeig opened #398 "Transition to semver"
Placeholder, for now.

[2017-03-21 18:39] jmakeig commented on #359
@kkanthet Is this done?

[2017-03-24 06:04] wooldridge commented on #327
@jmakeig, I can take a stab at this. Will solicit input from @kcoleman-marklogic.

[2017-03-24 15:45] jmakeig commented on #327
It doesn't need a lot of details or “marketing”, just an accounting of what’s changed for developers. The [Data Hub Framework has a good example](https://github.com/marklogic/marklogic-data-hub/releases).

[2017-03-24 18:10] kcoleman-marklogic commented on #327
You can take a look at the README from the Java Client API, too. It hasn't been updated for this release yet, but the past releases are entirely suitable references.

[2017-03-30 22:52] wooldridge commented on #271
To document current license requirements, I ran the following on this project, as recommended by @ehennum:

https://www.npmjs.com/package/license-checker

Then I attached the results to the Open Source Inventory on the wiki here:

https://wiki.marklogic.com/display/PM/MarkLogic+Server+Open+Source+Inventory+-+New

[2017-03-31 15:58] kcoleman-marklogic commented on #341
Just wanted to add one more thing about this bug: The Node.js API does not, AFAIK, expose the /v1/config/namespaces endpoint, so you cannot workaround this problem wholly within the purview of Node.js.

You must use the REST API directly (or Java, for the masochists among us) to configure the namespace binding and make `qb.extract` work. The REST API will not take advantage of namespace bindings o

[2017-03-31 17:04] ehennum commented on #341
I'm wondering whether the bug here is on the REST API.  Shouldn't the JSON payload support namespace bindings?  Why is it necessary to predeclare the namespaces for JSON and JSON only?

[2017-04-19 19:32] jmakeig commented on #327
@wooldridge In the interest of operating more like other projects on GitHub, can we move the release-specific stuff out of the main README and put it into the release landing page? I wouldn’t expect the README to change much from release-to-release:
- What is this thing?
- How do I install it?
- What’s the Day 0 “Hello, world!” interaction
- Where can I go for more information?
- Legal disclaimers

[2017-04-22 01:37] wooldridge commented on #327
I created a draft release page for the 2.0.0 release:

https://github.com/marklogic/node-client-api/releases

I added the compatibility info and new features there. Also included a link to the complete changelog, which will work after 2.0.0 is cut

I updated the README to remove the compatilibility info for 2.0.0 and the new features, which were moved to the release page:

https://github.com/markl

[2017-04-22 14:18] kcoleman-marklogic commented on #327
Looks good to me, but I have one question:

Are we going to leave the EA releases on the Releases page? They seem more like internal detritus than anything else.

[2017-04-22 18:32] wooldridge commented on #327
@kcoleman-marklogic I agree about the EA releases cluttering the release page. Makes sense to me to remove EA releases from that page once the corresponding public release has come out. Users can still access EAs via tags if they need to.

[2017-04-22 21:38] kcoleman-marklogic commented on #231
Bit late for me to mention this, I know, but shouldn't the slice change apply to values queries, too? It seems rather odd to only make it zero-based for search results.

[2017-04-22 21:57] kcoleman-marklogic commented on #231
Sorry to get to this so late. Incompats always come in really late for me. The jsDoc looks OK modulo the following:

- the question above about slicing values query results (btw, to prop up my assertion, `marklogic.setSliceMode` claims it applies to both)
- if the slice change applies to both, then the values query slice jsDoc needs updating
- in `queryBuilder.slice`, this text in the description

[2017-04-23 16:32] kcoleman-marklogic commented on #231
One other thought that drifted across my empty mind:

I have covered these changes in the ML release notes, but should they be mentioned somewhere on GitHub? IDK what the GitHub convention is for reporting backward incompatibilities.

[2017-04-24 15:38] jmakeig commented on #327
@wooldridge, sounds prudent.

[2017-04-24 15:42] wooldridge commented on #231
@ayuwono, let's chat today about possibly getting the slice update for values queries in for 2.0.0. See Kim's comment https://github.com/marklogic/node-client-api/issues/231#issuecomment-296403244.

[2017-04-24 15:48] kcoleman-marklogic commented on #231
FWIW, here are the related release notes:

http://pubs.marklogic.com:8011/9.0/guide/relnotes/chap4#id_34190

[2017-04-24 15:54] wooldridge commented on #231
@kcoleman-marklogic, in http://pubs.marklogic.com:8011/9.0/guide/relnotes/chap4#id_78125:

In the first code example, "PageLenth" --> "PageLength"

[2017-04-24 20:44] wooldridge commented on #327
Sounds like we're OK with these release notes as they are currently, will close issue.

[2017-04-24 20:44] #327 closed

[2017-04-24 22:32] wooldridge commented on #231
@kcoleman-marklogic, in https://github.com/marklogic/node-client-api/issues/231#issuecomment-296404227 you say:

The Returns documentation for that method currently says:

"either a Transaction object (the default) or string transactionId..."

Are you referring to some other default value?

[2017-04-24 22:37] kcoleman-marklogic commented on #231
No, sorry, I didn't read as far as the "returns" description, so I missed that. I retract my statement.

My pea brain got stuck on the function description at the top (which leads with the non-return result type) and the option description, neither of which indicate what the default is.

[2017-04-24 22:39] kcoleman-marklogic commented on #231
I'll check the link tomorrow morning, after the next doc build. I want to make sure it works on DMC, too (it should). I'll fix that typo in the release notes before tomorrow's build, too.

[2017-04-24 22:42] wooldridge commented on #231
@kcoleman-marklogic, thanks, I will merge that PR then now so it gets into the doc build.

[2017-04-25 00:40] wooldridge commented on #231
@kcoleman-marklogic, regarding https://github.com/marklogic/node-client-api/issues/231#issuecomment-296455238 about documenting backwards incompatibilities, I'd like to avoid duplicating documentation so how about we link to that incompatibilities doc page from the GitHub release page? I put static text in the release draft from which we can link when we have a final URL:

https://github.com/markl

[2017-04-25 00:43] wooldridge commented on #231
@kcoleman-marklogic, regarding the slice() method for ValuesBuilder in https://github.com/marklogic/node-client-api/issues/231#issuecomment-296404227, I think you're right. But I talked to @ayuwono and we agreed that it is too late to get that into 9.0-1. Definitely put that in 9.0-2, I will file an issue.

[2017-04-25 00:48] kcoleman-marklogic commented on #231
About slice: OK, thanks. I'll change the docs not to include value query.

About the incompats: Linking to docs.marklogic.com is OK with me, but it is really up to Justin.

If you decide to go with it, the URLs will be exactly as now, but replace the host:port prefix docs.marklogic.com. So http://docs.marklogic.com/9.0/guide/relnotes/chap3#whatever.

[2017-04-25 00:49] wooldridge opened #400 "Address deprecated slice() method in ValuesBuilder"
In https://github.com/marklogic/node-client-api/issues/231 we addressed the slice() method in QueryBuilder but missed the ValuesBuilder counterpart. We need to update the param handling for that slice() method as well.

The zero-based slice version should be the default.

Also see: https://github.com/marklogic/node-client-api/pull/360

[2017-04-25 00:54] wooldridge commented on #231
@kcoleman-marklogic, thanks for the link info. I updated the release page with the appropriate docs.marklogic.com link:

https://github.com/marklogic/node-client-api/releases

[2017-04-25 16:01] kcoleman-marklogic commented on #231
The links aren't working worth a darn on pubs, but that's on our end and nothing to do with you. Could be a problem with how we're building the JSDoc or maybe the doc app is doing something nefarious. Either way, not your problem. I'll investigate today.

[2017-04-25 16:12] kcoleman-marklogic commented on #231
OK, I think we're good. It looks like the doc build didn't pick up your last checkin for some reason. It's kinda weird since we clone a new copy of the repo every night. Gremlins.

Anyway, I expect happy faces everywhere tomorrow.

[2017-04-25 18:52] kcoleman-marklogic commented on #231
The build from this morning looks fine. Your links are working.

[2017-04-25 19:17] wooldridge commented on #231
Thanks, @kcoleman-marklogic. Closing.

[2017-04-25 19:17] #231 closed

[2017-04-25 21:02] wooldridge opened #401 "Add krb5.conf info for Kerberos docs"
A krb5.conf configuration file is required for Kerberos setup. Let's add this to the documentation.

[2017-04-25 21:06] wooldridge commented on #401
Here are the suggested edits for this section:

http://pubs.marklogic.com:8011/9.0/guide/node-dev/intro#id_12863

I added a second bullet for krb5.conf (with a link out to the Kerberos documentation). I also combined the trailing sentence with the now-third bullet, and added a link to the documentation for kinit.

------------

Follow these steps to make a TGT available to the client application:

[2017-04-25 22:54] kcoleman-marklogic commented on #401
I changed the labels because if you do not mark something as a new bug (or task...maybe), it does not propagate to bugtrack, and if it does not propagate to bugtrack, I have no bug against which to check in documentation. Docs are not maintained on github.

[2017-04-26 01:04] kcoleman-marklogic commented on #177
Since there is still no data, there will be no documentation in 9.0-1. This seems likely to languish eternally since no one on the dev team owns it, and it is not even clear which one of them _should_ own it.

For lack of a better idea, I will assign to Nalini to find an owner on her team.

[2017-04-26 01:07] kcoleman-marklogic commented on #178
Mike, if you get time during the 9.0-2 cycle, please let me know what I should say about this in the documentation. Or defer it to 9.0-3. This is a doc issue, so it's not tied to the 9.0-2 freeze date.

If you need more details on the question being answered, please ask Justin.

[2017-04-26 16:14] wooldridge commented on #401
Updates look good. Thanks, @kcoleman-marklogic.

[2017-04-26 16:14] #401 closed

[2017-04-29 04:34] gvaidees commented on #285
Can this be closed?

[2017-04-29 04:34] gvaidees commented on #322
Can this be closed?

[2017-04-29 04:35] #285 closed

[2017-05-01 22:22] wooldridge opened #402 "Update compatibility info on release page for server 9.0-1 release"
Two items for Node.js came out of today's meeting on versioning:

- Add caveat to release page that version 8 compatibility is to support upgrade scenario.
- New Node.js Client API version for the 9.0-1 server release will be 2.0-1 (not 2.0.0).

I've made updates to the draft release page to address the above, @jmakeig please review:

https://github.com/marklogic/node-client-api/releases

[2017-05-01 22:28] kcoleman-marklogic commented on #402
What does this mean and is it something I should worry about for the product release notes?

Is the version really going to be 2.0-1 rather than 2.0.1?

Also, please don't wait quite so late to choose the version number in the future. We have to bake it into the doc build, too. It's OK - we've slipped the doc deadline by a day for other reasons - but I'd prefer us not to make a habit of it.

[2017-05-01 22:56] ehennum commented on #402
Mike, won't the version number be 2.0.1 (and not 2.0-1)?

[2017-05-01 23:27] wooldridge commented on #402
Sorry, that was a mistype, no hyphen. The version number will be 2.0.1.

[2017-05-02 22:57] #246 closed

[2017-05-05 19:49] wooldridge commented on #402
We ended up tagging the release as 2.0.2.

2.0.1 was put out, but it was lacking some of the final documentation updates that were on the develop branch. We prepared a new release candidate with the updates and unpublished 2.0.1 on npm. As it turns out, you can't republish on npm with the same version tag. Following semver best practices, we released the updated version as 2.0.2.

See: https://www

[2017-05-05 19:49] #402 closed

[2017-05-05 19:50] wooldridge commented on #333
@kcoleman-marklogic, I'm doing some issue cleanup and am moving this to 9.0.2.

[2017-05-05 19:52] #247 closed

[2017-05-10 01:21] wooldridge commented on #400
ValuesBuilder as of 2.0.2 works with the array slice mode as the default as it uses the same method in mlutil as QueryBuilder to build the slice clause:

https://github.com/marklogic/node-client-api/blob/2.0.2/lib/values-builder.js#L332

The tests have already been updated for array slice mode in ValuesQuery slicing, see:

https://github.com/marklogic/node-client-api/pull/360

What needs updating

[2017-05-10 01:31] wooldridge commented on #400
@kcoleman-marklogic, can you please review my updates to the documentation for valuesBuilder.BuiltQuery#slice, see the above PR?

[2017-05-10 01:42] #342 closed

[2017-05-10 16:31] byrd1089 opened #405 "npm-shrinkwrap.json has hard coded file paths."
The hard coded "resolved" file paths for "dependencies" in the npm-shrinkwrap.json causes multiple download errors when trying to install the marklogic "node-client-api" from an npm registry that is located on a private network.

Can you somehow lock down the dependencies version while respecting the "npm config set registry <registry url>"

[2017-05-10 16:37] wooldridge commented on #405
Thanks, @byrd1089. We will look into this.

[2017-05-10 17:14] wooldridge commented on #405
Related issue: https://github.com/npm/npm/issues/3522

This might help: https://www.npmjs.com/package/rewrite-shrinkwrap-urls

[2017-05-11 14:35] byrd1089 commented on #405
Thanks Mike, but I don't have access to the NPM registry, other than to
pull from it.

--Jeff

On Wed, May 10, 2017 at 1:14 PM, Mike Wooldridge <notifications@github.com>
wrote:

[2017-05-11 15:46] jmakeig commented on #405
@byrd1089, I’ve never used a private npm repo. Do other dependencies have this same problem or is `marklogic` unique here? Any additional details on your set-up would be appreciated.

[2017-05-11 17:44] jmakeig commented on #405
@byrd1089 Are there other projects that do this correctly with shrinkwrap that you could point me to? Do they not specify `resolve` properties in their shrinkwrap? Thanks for the info.

[2017-05-11 18:32] byrd1089 commented on #405
Not sure, this is the first time I've come across npm shrinkwrap.

However, I do have a work around.

I downloaded marklogic-2.0.2.tgz from npm.

I opened the archive and modified npm-shrinkwrap.json replacing the
standard npm registry url with my custom url.

Finally, I installed marklogic from my local (modified) tarball.

Works like a charm :-)

Please close the issue.

On Thu, May 11, 2017 at

[2017-05-11 18:58] jmakeig commented on #405
@byrd1089, glad you found a way to get it installed. I’m going to keep this issue open as a research task to see if we can make the out-of-the-box experience better. Thanks for your help.

[2017-05-12 19:47] wooldridge commented on #362
@ayuwono, with this fix we've refactored how we check if a multipart object stream is finished. Can you add the following test to check that this works with all cases?

Get results that have two documents with *metadata only* (no content) as an *object stream*. (This will test the situation when metadata is the last part in the multipart queue.)

Thanks to @ehennum for his help on this!

[2017-05-12 21:54] wooldridge commented on #375
Currently seeing issues in results for the Node.js Client API:

https://bugtrack.marklogic.com/45957

[2017-05-16 18:06] ayuwono commented on #362
Hi @wooldridge,

Is this fixed? I tried to run the example query-builder.js and it's still not completing

[code]

[2017-05-24 23:08] wooldridge commented on #362
Update, the query-builder.js example should run like this, returning the first 10 results, so ending at "Mali at /countries/ml.json" followed by "done":
[code]

[2017-06-02 17:37] kkanthet opened #407 "Implement check=exists param to be passed to delete requests to throw error"
DELETE requests can now opt into a NOT FOUND error instead of idempotent silence when the document doesn't exist by passing a check=exists uri parameter

https://bugtrack.marklogic.com/44116

[2017-06-05 20:43] #400 closed

[2017-06-21 16:15] gvaidees commented on #362
@wooldridge This is targeted for 9.0-2. Would you be able to take care of this?

[2017-06-21 16:22] wooldridge commented on #362
@gvaidees Thanks for the reminder. This was targeted for 9.0-2 but @ayuwono and I were having trouble seeing the fix resolve on Linux. So I am going to push it out to 9.0-3.

[2017-06-23 11:37] tpiros opened #408 "change in .slice() behaviour between 1.0.6 and 2.0.2"
The following code works with the API v1.0.6:

[code]

However when upgrading to 2.0.2 a different resultset is returned unless the .slice is changed to be the following:

[code]

This has the potential to break existing code. I haven't seen any announcements about this change and at this point I'm not sure if this is a bug or a purposeful change in the API.

[2017-06-23 13:42] ehennum commented on #408
Hi, Tamas:  If I recall correctly, early versions of 1.x had a design bug of one-based numbering (carried over from XQuery).  Later versions of 1.x introduced an opt-in to switch to zero-based numbering consistent with JavaScript.  In 2.x, the default for the flag is flipped, so applications can opt-out of zero-based numbering for backward compatibility.  Eventually, however, the flag might be rem

[2017-06-23 14:03] tpiros commented on #408
Thanks @ehennum - I was looking at the ML9 release notes and I couldn't find it (https://docs.marklogic.com/guide/relnotes/chap3#id_53771) not sure if I was looking at the right place though.

[2017-06-23 14:12] ehennum commented on #408
Hi, @tpiros -- it's covered in the incompatibilities section:

https://docs.marklogic.com/guide/relnotes/chap4#id_78125

[2017-06-23 14:19] kcoleman-marklogic commented on #408
BTW, though valuesBuilder.slice did not get the same treatment in 9.0-1 (2.0.2), it will also use a zero-based scheme in the next Node.js Client release.

[2017-06-23 14:27] tpiros commented on #408
Thanks to both of you - my bad I didn't see this part of the docs.

[2017-06-23 14:27] tpiros commented on #408
@kcoleman-marklogic do you want to track the valueBuilder change in this issue or can I go ahead and close it?

[2017-06-23 14:29] kcoleman-marklogic commented on #408
You can close this. I just wanted to let you know the additional change is coming.

[2017-06-23 15:24] #408 closed

[2017-06-26 21:53] wooldridge commented on #408
Catching up since I was out on Friday. The update for valuesBuilder.slice is handled here: https://github.com/marklogic/node-client-api/issues/400

As described in the above issue, the change in functionality (for vauesBuilder.slice) actually went in with 2.0.2 (9.0-1) and the documentation will be added with the next minor release.

[2017-06-28 22:54] wooldridge opened #409 "Remove Early Access releases after the public release goes out"
After a public release goes out, remove the corresponding Early Access releases to avoid cluttering the GitHub releases page. (EA versions can still be accessed via their tags.)

This was decided here: https://github.com/marklogic/node-client-api/issues/327

[2017-06-28 22:59] wooldridge commented on #409
From the releases page, I deleted the Early Access (EA) releases for releases 1.0.0 and 2.0.0. These EA releases corresponded to the following tags:

- 1.0.0-ea3
- 2.0.0-ea3
- 2.0.0-ea4

[2017-07-05 21:44] jmakeig opened #410 "META: Change milestone and version numbering to reflect this project, not MarkLogic Server"
The version numbers should reflect semver for the Node Client API, even if updates tend to ship at the exact same time as MarkLogic Server.

[2017-07-17 17:24] ehennum commented on #184
Implemented in the REST API for 9.0-3, so this feature can be supported in the Node.js API thereafter.

[2017-07-21 00:32] jmakeig opened #411 "Add SUPORT file"
https://help.github.com/articles/adding-support-resources-to-your-project/

Content TBD.

[2017-07-21 01:54] wooldridge opened #412 "Add support for advancing LSQT"
Background from the MarkLogic documentation:

"A special timestamp, called the LSQT (Last Stable Query Time), can be enabled on a temporal collection to manage system start times across documents with different URIs. A temporal document with a system start time before the LSQT can only be queried and a document with a system start time after the LSQT can be updated / ingested, but not queried. You

[2017-07-21 16:11] jmakeig commented on #412
@wooldridge, can you please describe the proposed capability for those without BugTrack access?

[2017-07-25 15:20] jmakeig opened #413 "Publish to marklogic organization on npm"
npm allows you to publish libraries under an organization umbrella to allow teams of developers to manage a package. We should use this capability. Besides the logistical benefits it also makes the package look more official.

[2017-07-26 17:24] ayuwono opened #414 "Socket connection error across Node.js tests, error on Unexpected end of multipart data"
This is a regression bug, starting on build ML-9 07/25, we have socket connection error on Node.js. Here is one example

Write these documents to DB:
[code]
Then try to read the documents:
[code]

It will produce this error:
[code]

Complete error trace:
[code]

To run the test:
1) git clone https://github.com/marklogic/node-client-api node-client-api
2) cd node-client-api
3) git checkout develop

[2017-07-26 17:36] ayuwono commented on #414
Same error when doing documents query, it has something to do with "Unexpected end of multipart data"

[code]

[code]

[2017-07-26 17:38] ayuwono commented on #414
The pattern so far is happening on read, query, parse, extract (more on documents GET request)

[2017-07-26 18:08] ayuwono commented on #414
The core issue seems to be on https://bugtrack.marklogic.com/46893

[2017-07-26 18:13] wooldridge commented on #414
Thanks for digging into this and matching it to the Bugtrack issue.

[2017-07-26 21:23] wooldridge commented on #407
curl examples using new "check=exists" URL param...

**Document Does Not Exist:**

[code]

**Document Exists:**

[code]

[2017-07-26 21:38] kcoleman-marklogic commented on #407
Sorry that you didn't find what you needed in the docs. I had it in there for 9.0-2, then had to pull it out, and haven't gotten around to sticking it back in. This was a good reminder though. :)

[2017-07-28 23:48] wooldridge commented on #407
Product Management would like to wait on addressing this issue and do it as part of a broader update to CRUD semantics. Pushing out for now.

[2017-07-31 18:23] ayuwono commented on #414
Bug 46893 is fixed and passed on 07/31 regression

[2017-07-31 18:23] #414 closed

[2017-08-09 17:59] ayuwono opened #416 "npm install error for nodejs perf test on 8.0"
Hi @wooldridge,

There is an issue on npm install for node-client-perf on ML8

This is originally logged on bugtrack: https://bugtrack.marklogic.com/43872

The last error reported by @MayankBhatnagar89 is:
[code]
The perf test using redhat 6 machine
node version v5.10.1 and gcc version 4.4.7 20120313

[2017-08-17 20:16] tademianhess opened #417 "Receive "ETIMEDOUT" running DatabaseClient.xqueryEval"
Is there a way to specify how long the dbclient should wait for a response when calling  xqueryEval?

Problem:
Created database client and passed query to xqueryEval.
After 5 minutes, the call to xqueryEval() throws "ETIMEDOUT" error (originally thought the limit was 10 minutes, but retested).
Note queries that take less than 5 minutes complete correctly.

Set up:
Application server has Request Ti

[2017-08-17 20:48] tademianhess commented on #417
My mistake (as usual): I discovered that the code is NOT using the database client--it is posting its request directly to a module using an http library. Very sorry for wasting your time!

[2017-08-17 20:48] #417 closed

[2017-08-17 21:49] jmakeig commented on #417
No time wasted. Good to know you figured out your problem.

I am curious, though, why you’re using HTTP directly and not the Node client.

[2017-08-17 22:01] tademianhess commented on #417
A vendor wrote a custom xquery module to handle an http request. Since the endpoint is not handled by ML REST API, we need to make a regular http post to it.

Most of the time I am setting up services using the REST API and so use the ML client—I forgot this was a different case and hence thought the timeout was coming from the node client until I drilled further down into the code.

From: Justin

[2017-09-07 01:27] wooldridge commented on #368
I discussed this with @ehennum.

If the search string passed into the suggest method has multiple words (as this one does -- "a" and "darth"), only the last word is used to find matches. That is why the wildcard search returns the two matches, neither of which include "a".

If the match is a multiword phrase, the match text is included in the resulting suggestions with quotes. (So if you had a doc

[2017-09-07 01:31] wooldridge commented on #368
Closing since this is not a bug. `suggest()` is performing consistent with the REST equivalent. For lexicon lookups, you can look at `cts:value-match` on the server, although this isn't currently exposed through REST or the Node.js client.

[2017-09-07 01:31] #368 closed

[2017-09-11 18:21] jmakeig commented on #398
Is there a plan to make this happen?

[2017-09-11 18:44] kkanthet commented on #398
This should be happening now, is there anything in specific you are looking for ..?

[2017-09-11 18:47] wooldridge commented on #398
This might be related, I need to revise the GitHub issue milestones so that issues are tracking on 2.1.1, etc., instead of on the server versions (9.0-4, etc.).

[2017-09-11 18:47] jmakeig commented on #398
Version numbers should reflect the client version, not the server.

[2017-09-13 20:10] MukulAmbulgekar opened #419 "documents query with stream not printing any contents."
I am trying to upgrade Node Client API from 1.0.6 to 2.0.3. Below sample query does not print any document content and directly goes to the ```end``` event. I am running this query against 9.0-2 ML server.

Few observations -

1. If I downgrade node client api to 1.0.6 , below query works perfectly
2. If I pass ```chunked``` parameter to stream function - ```stream("chunked")``` it prints chunks.

[2017-09-20 22:55] kcoleman-marklogic commented on #177
There's no writeup for eval/invoke, as per the discussion of this task in bugtrack. However, I wrote up more detailed coverage for the transaction context, based on Sam's wiki writeup, as part of Java Client 4.0.2 and ML 9.0-2. You can find it here:

http://docs.marklogic.com/guide/node-dev/transactions#id_39877

If more than this is required, then you'll have to let me know what it is. Otherwise,

[2017-09-21 20:22] popzip commented on #258
This item is not showing up in Bugtrack, i think because of the RFE label. Can someone update that so it will replicate? to 40991 fyi

[2017-09-21 20:29] jmakeig commented on #258
Not to get all metadata on you, @ehennum, but wouldn’t `Task` would be more appropriate than `Bug`?

[2017-09-21 20:34] ehennum commented on #258
Done and dusted.  Taking the rest of the day off.

[2017-09-21 22:01] MukulAmbulgekar commented on #258
Just FYI - BugTrack imports/syncs issues with RFE label as well. There was no severity label (Major) earlier hence BT sync failed for this issue. I manually synced it now - [40991](https://bugtrack.marklogic.com/40991)

[2017-09-21 22:05] ehennum commented on #258
Even better.  (Taking the rest of the month off now.)

[2017-09-22 21:55] wooldridge commented on #357
@jmakeig, right, no work has been done to support this yet. Changed label back to "fix."

[2017-09-23 05:36] gvaidees commented on #177
@jmakeig Can this be closed?

[2017-09-23 20:16] #177 closed

[2017-09-25 22:09] wooldridge opened #421 "Refactor operation.queueDocument()"
See: https://github.com/marklogic/node-client-api/blob/master/lib/operation.js#L93

This is part of a larger refactoring of the dispatch logic for object streaming in responder.js (which calls operation.queueDocument()).

In operation.queueDocument(), separate queue management from object construction. This will allow the object stream dispatch to use object construction only. The promise stream d

[2017-09-29 16:56] popzip commented on #322
I believe this has been done for Node.js API, only requires validation by using a feature that is sending metrics. Once Optic API exposed in Node.js this should be possible to test. Please include in 9.0-4 milestone - I believe it is a testing exercise, no development. @wooldridge

[2017-09-29 17:24] wooldridge commented on #322
@popzip yes, this is a testing exercise. Adding this to 2.1.1, the milestone for Optic.

[2017-10-02 22:48] wooldridge commented on #421
Addressed by #422 and can be closed.

[2017-10-02 22:48] #421 closed

[2017-10-02 22:49] wooldridge commented on #362
Should be fixed by #422. @ayuwono, needs QA.

[2017-10-02 22:53] wooldridge commented on #419
This should be fixed by #422 merged to develop. I ran the test script above from @MukulAmbulgekar and the script now returns document content.

[2017-10-22 20:36] wooldridge opened #432 "XML parser/serializer"
Add XML parsing/serializing functionality possibly via a pluggable library. This looks promising:

https://www.npmjs.com/package/xmldom

[2017-10-23 19:28] ayuwono opened #436 "Transaction time limit is returning the wrong value"
Transaction time limit is returning minus one from the specified value. In this test, the value is 30, but when we read the transaction, its giving the value of 29

Test: nodejs.documents-transaction-combo.js

This is a regression issue starting from Oct 19

[code]

[2017-10-24 04:45] wooldridge opened #437 "Incorrect graphs#sparql 'documentQuery' parameter name in JSDocs"
For the graphs#sparql method, a 'documentQuery' parameter is listed in the JSDoc:

https://docs.marklogic.com/jsdoc/graphs.html#sparql

The code looks for a 'docQuery' parameter, and the tests test a 'docQuery' parameter:

https://github.com/marklogic/node-client-api/blob/master/test-complete/nodejs-sparql.js#L450

Need to update the JSDoc parameter name from 'documentQuery' to 'docQuery'.

[2017-10-25 06:49] wooldridge commented on #300
@ayuwono, it turns out this wasn't a feature to implement since if you put a combined query into the 'docQuery' parameter of graphs#sparql(), the combined query is handled correctly.

I added some tests for using combined query in test-basic, see caa8b4ad80baf67ba3b995dbdde032b08528dce9. I didn't see any such tests in test-complete. You should probably add some there if they aren't there already.

[2017-10-25 07:28] wooldridge commented on #296
@ayuwono, see the functional spec on the wiki for details about the methods updated.

Relevant commits:
f7b83e7962e9a6108bfaa4fe4085af70ef553fc4
f7f8d12c218006d99f82e3f7f2a25855dc4523eb
fd60f29c99590f41ac10546e42941726ca42b355

[2017-10-26 00:02] wooldridge commented on #258
@ayuwono, please see the functional spec on the wiki for details.

[2017-10-26 06:19] #437 closed

[2017-10-26 06:23] wooldridge commented on #398
GitHub issue milestones have been updated to reflect semver for client version (i.e., 2.1.1 and 3.0.1). Release version numbers shall follow this.

[2017-10-26 06:23] wooldridge commented on #410
GitHub issue milestones have been updated to reflect semver for client version (i.e., 2.1.1 and 3.0.1). Release version numbers shall follow this.

[2017-10-30 22:32] wooldridge commented on #436
@ayuwono, this test is passing for me with ML server:

10.0-20171030

running:

`mocha test-complete/nodejs-documents-transaction-combo.js `

Can you retry on your end? I suspect it was a hiccup on the server.

[2017-10-30 23:23] ehennum opened #447 "refactor type ancestry"
Use static `[Symbol.hasInstance](obj) { ... }`  to enable instanceof checks including for unions

[2017-10-30 23:28] ehennum commented on #447
Should cause no regressions -- no other functional testing needed.

[2017-10-30 23:50] ayuwono commented on #412
Added tests on test-complete/nodejs-temporal-advance-lsqt.js

[2017-10-30 23:50] #412 closed

[2017-10-31 00:11] wooldridge commented on #284
Appears that the full number of document descriptors in a batch are not being added to the buffer array. Adding the following:

[code]

we see the buffer length is shorter than expected when documents are missing, e.g. 99 when it should be 100. So in the error case for the example code, files are not being written to begin with.

[2017-10-31 02:53] wooldridge commented on #284
Fixed by using Promise.all(), which will wait for all batch files to be read before executing a db.documents.write() for that batch.

This fix does not impact any library code, just the file-loading code in the examples. No QA or docs work required for this.

[2017-10-31 02:54] #284 closed

[2017-10-31 05:06] ayuwono commented on #419
Hi @nishantsingh1, the test script is pretty straight forward

[2017-10-31 05:09] #362 closed

[2017-10-31 21:40] ayuwono commented on #296
Added tests on test-complete/nodejs-pitq-*.js

[2017-10-31 21:40] #296 closed

[2017-10-31 22:31] ehennum opened #449 "improve type checking on primitives"
Check that primitives are appropriate for declared types

[2017-10-31 22:35] ehennum commented on #449
Should cause no regressions and should allow JavaScript booleans, numbers, and strings for parameters where they are also valid in Optic SJS.

[2017-11-02 02:26] ehennum opened #450 "improve JSDoc for Optic interfaces"
The JSDoc is imported from SJS / XQY documentation, so it won't be perfect, but it should at a minimum describe all of the Optic functions supported in the Node.js client.

[2017-11-02 03:27] jmakeig commented on #450
You, sir, are a wizard.

[2017-11-02 15:48] ehennum commented on #450
A true statement (with a Polish accent) -- in the Nola swamp band, my knickname was "Lizard"

[2017-11-03 13:49] tpiros opened #451 "Operation success message"
At the moment if db.documents.write() is successful (i.e. the document gets inserted), we can check for the existence of the 'documents' property:

[code]
Where upon successful insertion 'response' contains:

[code]

Would it be an overkill to add a writeOk or just an Ok (or even inserted: 1, or inserted: true) property?

[code]

[2017-11-03 13:52] tpiros opened #452 "Automatic URI generation"
As per the [documentation](https://docs.marklogic.com/guide/node-dev/documents#id_97506) it's possible to automatically generate URIs for documents inserted by leaving out the 'uri' property of the document descriptor.

Where can I find the code that does the automatic URI generation?

[2017-11-03 15:48] ehennum commented on #452
Either the uri or the extension property are required (but not both).  The extension identifies the document format and mime type via the mime type mapping table (which can be viewed through the Admin UI on the server).

[2017-11-03 15:56] tpiros commented on #452
so let's assume that I specify the extension property to be 'json'. How does the actual URI get generated?

[2017-11-03 16:04] ehennum commented on #452
The suffix is appended to a random unsigned long.  If the optional directory property is also set, that's prepended.

[2017-11-03 16:05] ehennum commented on #452
By the way, it would be a reasonable request to use sem:uuid() instead of the random long.  There may even be an RFE on the REST API for that option.

[2017-11-03 16:08] tpiros commented on #452
So is this random unsigned long generated via some code in the REST API or by the Node.js API?

[2017-11-03 16:23] ehennum commented on #452
In the REST API.  That's the usual approach so that different clients don't have to reimplement the same features in a consistent way.

[2017-11-03 16:23] tpiros commented on #452
Thanks @ehennum 🥇

[2017-11-03 16:23] #452 closed

[2017-11-08 18:32] ayuwono opened #454 "Unable to use column accessor as a variable on plan"
This test is running fine on Optic SJS, but it's failing on Node.js

Build: 9.0 nightly

Setup:
1) git checkout develop
2) Run the setup: node config-optic/setupqa.js
3) When you run this test script:
[code]
It will fail with this error:
[code]

It seems that Node.js Optic layer can't distinguish the column reference with the qualifier on plan accessor. It has the same column name (id), but with d

[2017-11-08 23:44] ayuwono commented on #454
I think it's not about the qualifier, it's about the column accessor variables

    const masterIdCol1 = plan1.col('masterId');
    const masterIdCol2 = plan2.col('id');
    const detailIdCol = plan1.col('id');
    const detailNameCol = plan1.col('name');
    const masterNameCol = plan2.col('name');

If I replace the variables with this, it will work
 plan1.joinInner(plan2, op.on(op.viewCol('myDet

[2017-11-09 17:48] ehennum commented on #454
Fixed implementation - the unit tests were not checking the right thing.

[2017-11-09 21:45] ayuwono opened #455 "different behavior on op.xpath between Optic SJS and Node.js"
On SJS, this part of the script is working fine:

.select(['uri', 'city', 'popularity', 'date', 'distance', 'point', op.as('nodes', op.fn.number(op.xpath('doc', '//latLonPair/lat')))])

On Node.js the same script will throw an error:
Error: arg argument at 0 of fn.number() must have type XsAnyAtomicType or PlanColumn or PlanParam

But if I don’t use op.fn.number() on Node.js, it will be fine:
.sel

[2017-11-10 00:08] ayuwono opened #456 "plan lexicons is not working on sequence or chunked stream"
Setup:
1) On develop, node config-optic/setupqa.js
2) This script is a plan lexicon that uses stream sequence
[code]
The count is 0 and there is no chunk printed

This is also not working on chunked stream

[2017-11-10 00:14] ehennum commented on #456
Does the same plan work with query() instead of queryAsStream() or without columnTypes?

[2017-11-10 00:21] ayuwono commented on #456
It seems that it's working, my test has complexValues on the options, removing complexValues prints the results. Even with columnTypes. So it's not a bug

[2017-11-10 00:21] #456 closed

[2017-11-10 00:28] ehennum commented on #455
Thanks for identifying the issue; confirmed with xs.date() on the unit test data set, but should also be fine with fn.number().

[2017-11-10 19:31] ayuwono commented on #447
No regression

[2017-11-10 19:31] #447 closed

[2017-11-10 19:32] ayuwono commented on #449
No regression and added on tests

[2017-11-10 19:32] #449 closed

[2017-11-14 01:50] ayuwono commented on #454
Added test on views

[2017-11-14 01:50] #454 closed

[2017-11-14 17:51] ayuwono commented on #436
Test case is modified on assertion

[2017-11-14 17:51] #436 closed

[2017-11-14 18:49] ayuwono opened #457 "Unable to set dedup option on fromTriples()"
On SJS, we can set the dedup option by the following:
[code]
The same script on Node.js will produce this error:
 Error: option argument at 3 of PlanBuilder.fromTriples() has invalid argument for PlanTripleOption value: [object Object]

Tried these and it still doesn't work:
{option: 'on'}
{options: 'on'}
{'on'}

[2017-11-14 22:26] ehennum commented on #457
Good catch, should be good now.

[2017-11-14 23:42] ehennum opened #458 "minimum version of Node.js 6.9 / v8 5.1.281.84"
The oldest LTS release for Node.js 6 (aka Boron)

[2017-11-14 23:43] wooldridge opened #459 "Increase the supported Node.js version to 6.9.0"
This will ensure ES6 Symbol.hasInstance support, which is required for the Optic implementation in Node.js.

Run appropriate tests and ensure that the new version combinations (MarkLogic and Node.js) meet rolling upgrade requirements.

[2017-11-14 23:46] ehennum commented on #458
Duplicate of 459

[2017-11-14 23:46] #458 closed

[2017-11-15 16:51] wooldridge opened #460 "Update dependencies to latest"
For release 2.1.1, check status of project dependencies and update where appropriate. See #394 for previous work.

[2017-11-15 16:55] wooldridge opened #461 "Update npm shrinkwrap prior to release"
Update the shrinkwrap file for 2.1.1 so that it includes any updated and new dependencies (e.g., big-integer, json-text-sequence, chai). See #358 for previous work.

[2017-11-15 19:49] wooldridge commented on #459
Updating and testing the supported Node.js version should come after #460 (update dependencies) and #461 (update shrinkwrap).

The package.json will also need updating, currently:
[code]

[2017-11-15 21:23] ayuwono opened #462 "xmlElement() can't take function as a content"
Steps:
1) Setup: node config-optic/setupqa.js
2) This script will fail:
[code]

It's on xmlElement that has function as a content

op.xmlElement('elemACodePoints', null, op.fn.stringToCodepoints(op.col('PlayerPosition')))
op.xmlElement('elemC', null, op.math.sqrt(op.col('PlayerAge')))

Error:
[code]
This is working fine on Optic API SJS

[2017-11-16 01:57] wooldridge commented on #375
Ongoing task. Addressed issues for 2.1.1 timeframe, moving out to next release.

[2017-11-16 18:03] ayuwono commented on #455
Verified passed and added tests

[2017-11-16 18:03] #455 closed

[2017-11-16 18:09] wooldridge commented on #460
Current state of dependencies as of 2017-11-16:
[code]

[2017-11-16 18:32] wooldridge opened #463 "Optic planBuilder test failures"
In running tests in preparation for upgrading the Node.js version, I'm seeing Optic planBuilder test failures when running both Node.js versions 6.5.0 and 6.9.0. I have the latest MarkLogic server build. The failures are in the following test files:

- test-basic/plan-composers.js
- test-basic/plan-views.js

Here is the output:

[code]

[2017-11-17 03:03] ehennum commented on #463
I was on 6.10, but I downgraded to the earliest version of 6.9, and I'm still not seeing any errors with plan-*.js.  I'll try a fresh clone and fresh database once I've checked in other fixes that are in flight.

[2017-11-17 16:49] ehennum commented on #462
Expressions and literals should now be allowed as text content in XML elements or as values for JSON array items or JSON object properties.  The plan-node.js basic test has the specifics.

[2017-11-17 18:39] wooldridge commented on #463
On my Mac, did a fresh build of my MarkLogic server: 10.0-20171117

Using Node.js version 6.9.0 with a fresh "npm install" on the develop branch, I'm still seeing those two errors when I run the test-basic tests on my local machine.

[2017-11-17 18:49] ayuwono commented on #463
It might be on the plan level/server issue. The SJS Optic regression tests are failing on except too:
https://bugtrack.marklogic.com/48378

[2017-11-18 04:53] ehennum commented on #463
Okay, after a rebuild, I am able to reproduce the errors for

*  composers for literals with except
*  view composers with except

There is a known server bug with except that, I believe, is the root cause.  When that bug is fixed, this bug should go away.

By the way, I still get errors for:

*  point-in-time with timestamp graphs read default graph should set and use timestamp
*  point-in-time w

[2017-11-20 00:36] ehennum commented on #463
The fix committed to internal issue 48378 on Saturday resolved the problem in my testing.  If you're no longer seeing the issue, please close the bug.

[2017-11-20 17:38] ayuwono commented on #463
Verified passed on regression 11/19

[2017-11-20 17:38] #463 closed

[2017-11-20 18:45] wooldridge commented on #463
I'm no longer seeing those two errors on my test-basic tests with the new sever updates.

[2017-11-20 23:14] ayuwono commented on #457
Verified passed and added tests on dedup

[2017-11-20 23:14] #457 closed

[2017-11-20 23:17] ayuwono commented on #462
Verified passed and added test on nodes constructor

[2017-11-20 23:17] #462 closed

[2017-11-20 23:43] ayuwono commented on #419
Printing stream is verified. Added test on nodejs-documents-query-stream.js

[2017-11-20 23:43] #419 closed

[2017-11-27 21:29] ayuwono commented on #300
Verified passed and added tests

[2017-11-27 21:29] #300 closed

[2017-11-27 23:39] wooldridge commented on #460
According to @ayuwono on 2017-11-27:

"The QA regression has been running with node 6.9.0 since last week. It's been stable so far."

Closing issue as tests are stable with the updated dependencies on the current version target (Node.js 6.9.0).

[2017-11-27 23:39] #460 closed

[2017-11-27 23:39] wooldridge commented on #461
According to @ayuwono on 2017-11-27:

"The QA regression has been running with node 6.9.0 since last week. It's been stable so far."

Closing issue as tests are stable with the updated shrinkwrap on the current version target (Node.js 6.9.0).

[2017-11-27 23:39] #461 closed

[2017-11-27 23:42] wooldridge commented on #459
According to @ayuwono on 2017-11-27:

"The QA regression has been running with node 6.9.0 since last week. It's been stable so far."

Still need to confirm that we meet the version requirements for rolling upgrade. Dependencies (#460) and shrinkwrap (#461) have been updated and pass tests.

[2017-11-28 19:27] ayuwono opened #466 "Confusing parameter name description on all join methods on Node.js Client API doc"
The name param on join documentation is confusing. For example, here is the Node.js reference for joinInner (/doc/planBuilder.ModifyPlan.html#joinInner):

[code]

The parameter "right" description says: "The row set from the left view.". It should say the row set from the right view to be consistent with joinInner on docs.marklogic.com

http://docs.marklogic.com/AccessPlan.prototype.joinInner

[co

[2017-11-28 19:30] ayuwono opened #467 "The link references are pointing to the wrong address on Node.js Client API doc"
For example:
The link "See op.joinInner" on joinInner method is pointing to nowhere on docs.marklogic.com (http://docs.marklogic.com/op.joinInner)

The actual link on docs.marklogic.com is: http://docs.marklogic.com/AccessPlan.prototype.joinInner

[2017-11-28 20:38] kcoleman-marklogic commented on #467
I noticed today that the jsdoc on pubs is coming off the wrong branch. Tomorrow's build should the optic content and it'll be easier to confirm the correct reference (if that's needed).

[2017-11-28 20:47] ehennum commented on #467
Thanks for the input.  The issue in this case is that the code generation is not taking account of the class for the method when building the documentation URIs.

[2017-11-29 22:59] ehennum commented on #466
Parameters should now align for chained methods.

This fix to the JSDoc shouldn't cause regressions.

[2017-11-29 22:59] ehennum commented on #467
Links for class methods should now point to server-side documentation where it exists.

Functions without server-side documentation shouldn't have links to the server-side documentation.

The fix to the JSDoc shouldn't cause regressions.

[2017-11-30 22:26] ayuwono commented on #467
Link references are pointing to the correct SJS doc now

[2017-11-30 22:26] #467 closed

[2017-11-30 22:27] ayuwono commented on #466
Documentation is correct now

[2017-11-30 22:27] #466 closed

[2017-11-30 22:43] ayuwono commented on #450
Documentation looks good

[2017-11-30 22:43] #450 closed

[2017-12-01 18:22] kcoleman-marklogic commented on #407
so is this going in now? to REST as well?

[2017-12-01 18:27] grechaw commented on #407
It's been in REST, and Java Client API uses it.  The "bug report" was for Java Client API and for some reason it was not considered necessary to document at REST layer (speaking from memory here, which is often faulty)

[2017-12-01 18:35] kcoleman-marklogic commented on #407
It got implemented and then buried due to some controversy about underlying support in the server, which is why the documentation was pulled. Last I knew, that hadn't been resolved and was still on hold, which is why I was asking.

See internal bug 44116, whose last update still says: "Justin plans to handle this along with other RFEs that are similar (like document-insert options - not to upsert)

[2017-12-01 19:05] wooldridge commented on #407
This feature is not going into 2.1.1 for the Node.js Client API per Product Management's request.

[2017-12-04 17:31] tpiros opened #473 "Multiple warnings when installing dependencies"
Probably not an issue also not sure if this is something that we can fix but it's worth exploring. There are a number of deprecated warnings when installing the dependencies for the client API:

[code]

Running node v9.2.0

[2017-12-04 18:00] tpiros opened #474 "Return total document count in queries"
At the moment it's very difficult to work with any sort of pagination widget due to the fact that it's rather complex to retrieve the total number of documents matching a certain search. I'd welcome an optional parameter that we could pass in to the query that would return this information in an easier fashion. This is what I do at the moment:

[code]

I'd love to see something in place that works

[2017-12-04 18:08] ehennum commented on #474
Hi, Tamas:  Thanks for the clear explanation of what you do currently and what you would like to see.

Can you expand on the comment that "this is required because how queryPlan returns this information"?

What, precisely, makes the current total so difficult to work with? Wouldn't it be trivial to turn the ternary expression condition into the branch branch?

[2017-12-04 20:25] tpiros commented on #474
So this is what I get when documents are returned

[code]
In this case I need to remove the first element of the array, which is a weird solution.

The ternary operator is fine but the whole thing could be a bit simpler :)

[2017-12-04 21:00] ehennum commented on #474
The query is asking for a query plan.  A query plan is part of the summary. The query plan is not a document.

If the result processor should be able to work with or without a summary, it's going to have to have conditional logic one way or another.

Making the summary look like a document could be very confusing and cause more problems than it solves.

[2017-12-04 21:07] tpiros commented on #474
Couldn't we simplify that information returned by the queryPlan? I know I can do it from my code but we could have a smaller data transferred if we'd only return the 'total' for example.

So the following

[code]

should return
[code]

Or would this be too complicated to implement?

[2017-12-04 21:14] wooldridge opened #475 "Date value test failures with Node.js version 8.9.1"
Upgrading to Node.js version 8.9.1 and running test-basic on the develop branch yields the following two failures (these failures do not occur with Node.js version 6.9.0):
[code]

[2017-12-04 21:14] ehennum commented on #474
The same argument could be made for every other branch within the summary.  "I just need the snippets, please show them at the top."

[2017-12-04 21:15] tpiros commented on #474
True - so one last thing then, how to easily return score values for all the results?

Sample:
[code]

Would love to get:
[code]

[2017-12-04 21:15] ehennum commented on #475
Maybe a time zone issue of some kind -- given that both are 7 hours off.

[2017-12-04 21:33] ehennum commented on #474
If I recall correctly, it should be possible to add the score to the summary with

    qb.where(...).slice(0, 10, qb.snippet('empty'))

The result processing would then set the summary in a variable outside the callback and subsequently look up the result (including the score) from the summary for merging into the descriptor for the current document.

Admittedly, that could be cleaner, but that wo

[2017-12-04 22:41] wooldridge commented on #474
@ehennum, your suggestion works for returning score values in the summary for the result documents. I have no better suggestion.

[2017-12-05 02:46] wooldridge commented on #475
These failures are due to a change in how dates are handled in Node.js in version 8 (on account of the underlying ES2015 spec). See here for details:

https://github.com/nodejs/node/issues/13210

When the following is eval'ed via the Node.js Client API:

`new Date("2010-10-08T10:17:15.125Z)`

the MarkLogic server returns a date without a time zone:

`2010-10-08T10:17:15.125`

The [ES2015 spec](htt

[2017-12-05 03:10] ehennum commented on #475
Good sleuthing.

[2017-12-05 04:03] wooldridge commented on #475
@ayuwono, FYI, in looking ahead to supporting Node.js versions 8 and beyond, you may have to adjust tests that eval dates on the server (and possibly other date tests).

[2017-12-05 04:04] wooldridge commented on #475
Merged after passing test-basic locally and on Jenkins.

[2017-12-05 04:04] #475 closed

[2017-12-05 18:42] kkanthet commented on #359
This can be closed , the basic rule is to support
* Last client release of previous version with
* Latest version of the server  with latest client release
EX: 1.0.6 with server 8.0-7
      2.0.3 with 9.0-3
      2.1.1 with 9.0-4

Upgrade from
* Last release of previous version of the client to latest version of the client(same upgrade path for server)
* previous version of the client to latest ve

[2017-12-05 18:42] #359 closed

[2017-12-07 20:06] kcoleman-marklogic opened #478 "Rows queries not supporting database defined in client connection"
The /v1/rows REST endpoint supports a database parameter for specifying an alternative db, but the Node.js Client API currently does not pass along the db from the DatabaseClient connection configuration. It should.

To reproduce, just make an Optic query using a db client whose connection config specifies an alternative db. For example, set up the SQLdata db and content from the SQL quick start (

[2017-12-07 22:37] ayuwono commented on #258
Tests are completed and automated. Shipping this!

[2017-12-07 22:37] #258 closed

[2017-12-07 23:27] ehennum commented on #258
Excellent -- thanks heaps, @ayuwono, for squaring that away

[2017-12-08 00:42] wooldridge commented on #478
Thanks, @kcoleman-marklogic.

I can confirm that Optic rows queries in the Node.js Client API do not support the database parameter when it is defined during client creation. I tested by loading and running rows queries on the example data (which now loads a TDE template for the countries documents).

I also confirmed that specifying a database this way works for, for instance, documents.query() q

[2017-12-08 01:01] ehennum commented on #478
Thanks, Kim and Mike.  The workaround is straightforward -- create an appserver for the database -- but we'll definitely want to fix this one in the next release to expectations are met.

[2017-12-08 02:51] wooldridge commented on #478
It's a simple, one-line fix, and I have a branch and test created for it.

[2017-12-08 11:23] tpiros opened #479 "stream() error handler"
I am not sure on the behaviour of the stream() error handler.

Consider the following code with which I'm trying to serve images from the MarkLogic database:

[code]

This assumes that I have URIs in my database such as `/test-0001.jpg`.

Now my problem is that if I supply a URI that does not exist the `.on('error', ...)` part of my code doesn't get executed. I can see the error in the `.on('end',

[2017-12-08 11:32] tpiros commented on #479
The other problem is that having such logic in place is a bit borked:
[code]

That's because now if a valid image comes in the JSON.parse(buffer.toString()) breaks.
I'm still trying to figure out what the best way would be to achieve this. I'd like to return a 404 if a resource is not found in ML.

[2017-12-08 17:53] kcoleman-marklogic opened #480 "timestamp support missing from optic interfaces"
According to the func spec, there should be support for point in time queries on the optic interfaces. The spec calls it out a "timestamp" property on RowsOptions. If it was parallel to the way it is surfaced for documents.write, it'd be a param of `rows.query` or `rows.queryAsStream`.

Either way, it appears to be missing from the JSDoc. I can't speak to whether the impl is supporting it or not.

[2017-12-08 19:27] ayuwono commented on #480
@kcoleman-marklogic, just to confirm that the timestamp implementation is there on rows, and we have some tests. I think it's we need to add it on RowOptions on JSDoc

[2017-12-08 19:59] ehennum commented on #479
It makes sense to me that sending the error response to the data event instead of the error event is a bug.

@wooldridge, what do you think?

[2017-12-08 20:09] wooldridge commented on #480
The following PR should fix this:

https://github.com/marklogic/node-client-api/pull/481

As @ayuwono mentioned, the functionality was there, there was just a typo in the JSDoc comments (@param -> @property). I also tidied up some cross-links for the timestamp JSDoc references.

[2017-12-11 17:59] kcoleman-marklogic commented on #478
Looks to me like it is working now. Thanks!

[2017-12-11 18:01] kcoleman-marklogic commented on #480
I see it now. Thanks.

[2017-12-11 18:01] #480 closed

[2017-12-11 19:32] kcoleman-marklogic opened #483 "Review Optic documentation"
This is the review task for the documentation added in 2.1.1 about Optic support. The draft documentation has been provided separately, via email.

Please send me your feedback (or add it here) by Dec. 19, if possible. If I receive it later, it is possible not all the changes will make it into 2.1.1.

Thanks.

[2017-12-11 21:32] ayuwono opened #484 "complexValues reference option is not returning any result on queryAsStream()"
Steps:
1) Setup: node config-optic/setupqa.js
2) The result has a column (the column name is 'xml') with complex values (xml elements). If complexValues is specified as 'inline', it will return the result:
[code]

Result:
[code]

But if I change the complexValues to "reference", the result is empty (count = 0)

[2017-12-12 09:26] tpiros commented on #479
@ehennum @wooldridge
Also note that at the moment I have to do this hack to make my code work:

[code]

[2017-12-13 00:14] wooldridge commented on #484
Here is the error being thrown under the hood:
[code]

The reason the test is failing is because the complexValues option (for attachments) is only relevant when results are delivered as a JSON object stream. The test is requesting a JSON chunked stream.

This constraint is documented in the RowsOption table in the Optic for Node.js spec.

The following works:
[code]

[2017-12-13 00:27] wooldridge commented on #478
PR was approved by mrtriage and merged. Closing this issue.

[2017-12-13 00:27] #478 closed

[2017-12-13 00:37] ayuwono commented on #484
Verified this is not a bug, tested using object stream and it's working as per spec

[2017-12-13 00:37] #484 closed

[2017-12-13 11:55] ehennum commented on #484
@wooldridge, could the client detect that a chunked stream is inconsistent with complexValues set to reference and throw and error from queryAsStream() before the call is made to the server?  Developers might have a hard time diagnosing that the stream should be an object stream from the server error.  Should the request fail early during validation of inputs?

[2017-12-13 15:15] kcoleman-marklogic commented on #484
This is exactly what I was going to suggest. The current behavior might not be a bug, per se, but I think we can do better here wrt error reporting.

[2017-12-13 17:27] wooldridge commented on #484
@ehennum and @kcoleman-marklogic, thanks. I was discussing that with @ayuwono, the question being when to get such a change in. I will file an issue.

[2017-12-13 17:28] wooldridge opened #485 "Throw error when complexValues is set with a chunked stream"
Make it clear to developers that this is not allowed. See #484.

[2018-01-03 17:42] kcoleman-marklogic opened #487 "support SJS content generators for patch operations"
In 9.0-4, @ehennum added support for SJS implementations of patch replacement content generators to the REST Client API; see internal bug 47284. I thought it would just work with Node.js, but it turns out that the patch builder is a bit too "helpful". IWBNI SJS content generators worked with the patch builder.

To be clear, I am talking about this feature: http://docs.marklogic.com/guide/node-dev/

[2018-01-03 17:46] kcoleman-marklogic commented on #487
Here is an SJS content generator you can use to play with this. Will add install and exercise scripts in next comment. You can also find this code in the REST dev guide on pubs.
[code]

[2018-01-03 17:48] kcoleman-marklogic commented on #487
Install script for the SJS generator. It expects the generator to be lying about in ./my-lib.js.
[code]
This script installs a test document, patches it, and emits the results. If it does its job correctly, the price of orange should be 20 and the price of pear should be 18.
[code]

[2018-01-10 20:31] kkanthet opened #489 "Updated Product LegalNotices for 2.1.1"
https://bugtrack.marklogic.com/48719

[2018-01-10 21:37] wooldridge commented on #489
This has been taken care of, the file has been added:

https://github.com/marklogic/node-client-api/pull/486

[2018-01-10 21:39] #489 closed

[2018-01-17 09:58] tpiros commented on #479
Are there any updates on this please?

[2018-01-17 09:59] tpiros commented on #474
Is this going to be implemented at some point?

[2018-01-17 10:07] tpiros opened #490 "Pause of Node.js process before terminating it when running a query"
I can't really pinpoint this issue and I definitely haven't been able to figure out what's causing it.

I experience a pause after the query execution and the before termination of the Node.js process.

I am running this code:

[code]

[code]

I then run the application via `node app.js` and this is how the output looks like:

[code]

Note that when executing this code there's a pause after the db

[2018-01-17 16:24] jmakeig commented on #490
Which version of Node, Client API, and MarkLogic?

[2018-01-17 17:13] tpiros commented on #490
Node v9.2.1
Node Client API v2.0.3
MarkLogic v9.0-3

[2018-01-17 17:19] ehennum commented on #490
I believe the response processing is completely finished when the promise resolves.

Does the timing of the shutdown change if you call db.release() at the end of the then() handler?

[2018-01-17 17:28] ehennum commented on #474
@tpiros , don't the comments above explain why things work the way they do and how to accomplish what you've asked about?

[2018-01-17 17:30] ehennum commented on #479
@tpiros, nothing in plan yet, thanks for refreshing attention on it

[2018-01-17 21:17] wooldridge commented on #479
Thanks for the note @tpiros, I will investigate.

[2018-01-23 03:23] tpiros commented on #479
Thanks guys!

[2018-01-23 21:04] wooldridge commented on #479
Was able to reproduce by loading images into MarkLogic and serving with Express 4.

[2018-02-07 14:11] tpiros commented on #190
I am going through my old open issues - should I close this one off or would there be any potential updates to this?

[2018-02-07 14:11] tpiros commented on #337
Do we have any plans to support Alerting from Node.js?

[2018-02-07 14:12] #474 closed

[2018-02-07 14:17] tpiros commented on #490
uuohhh, nice!

[code]
Results in:
[code]

I didn't know we had a db.release() - I did assume that it's automatic. Are there any implications to using it in the `.then()` statement as seen above?

[2018-02-07 21:49] ehennum commented on #190
It's still a good request.  Basically, the idea is to have a knob to put the metadata in the descriptor rather than have an initial summary object.

[2018-02-07 21:55] ehennum commented on #337
Expanding the description of the use case would be helpful.

[2018-02-07 22:05] ehennum commented on #490
The database client object does release all resources automatically when it is garbage collected.

Calling the release() function releases resources immediately without having to wait for garbage collection to determine that the database client is no longer used and it is safe to release resources.

The only concern about calling release() is releasing the database client prematurely.  If the data

[2018-02-08 11:40] tpiros commented on #337
The information that I sent to Justin was pretty much saying that I'd like to execute matchmaking and reverse queries from a pure Node.js environment.

[2018-02-08 11:41] #490 closed

[2018-02-14 09:41] tpiros opened #493 "parseBindings no longer works"
MarkLogic v 9.0-4
Node v: 8.9.4
MarkLogic Node.js API v: 2.1.1

The following code works with the Node.js client API v 1.0.6:

[code]

Running the same code against 2.1.1 no longer returns any results. I also tried `'art:"coldplay"'`. Not sure if this is related to parseBindings or some other part of my code.

[2018-02-14 15:07] kcoleman-marklogic commented on #493
While I don't imagine this is the cause of you getting no results (unless you expect only one result), your slice clause is probably not doing what you intend. The default semantics of slice changed for v2. See http://pubs.marklogic.com:8011/guide/relnotes/chap4#id_78125.

[2018-02-14 17:59] tpiros commented on #493
@kcoleman-marklogic ahha!!!! this was it! :)

[2018-02-14 17:59] #493 closed

[2018-02-15 17:36] patrickmcelwee commented on #275
This issue has re-emerged, because --no-optional is overridden by npm shrinkwrap, which was [added to the project in May 2017](https://github.com/marklogic/node-client-api/commit/f694d5051e8a26d50e49351bc42da83ef7e5c130#diff-36018a6a9e1de1798516799b84841318). This means that if I run `npm install marklogic --no-optional`, I still get kerberos.

I can workaround this with adding `--no-shrinkwrap`,

[2018-02-15 18:12] wooldridge commented on #275
@patrickmcelwee, thanks for pointing this out and suggesting a fix. I will investigate editing the `npm-shrinkwrap.json`.

[2018-02-15 19:36] wooldridge commented on #275
Confirming what @patrickmcelwee describes...

Run in current project (v2.1.1): `npm install --no-optional`

kerberos IS installed (when it shouldn't be)

Update project by removing kerberos settings ([lines 77-82](https://github.com/marklogic/node-client-api/blob/master/npm-shrinkwrap.json#L77-L82)) from npm-shrinkwrap.json

Run in updated project: `npm install --no-optional`

kerberos IS NOT inst

[2018-02-23 00:17] popzip commented on #411
This section exists in the Readme.md as a section, but interestingly does not contain the phrase "and distributed under the Apache 2.0 license." like the rest of the MarkLogic support statements.

[2018-02-23 18:10] popzip opened #494 "Update Open Source Support language"
Please refer to updated text for DHF, included below as point of reference. Key changes are to say "made available under...", reference "TechnicalSupport Handbook". Change anything specific to another product (eg DHF). The rest should be pretty boilerplate/straight copy paste.

use Support.md attachment from internal wiki on "Open Development and Open Source"

[2018-03-29 21:15] ehennum opened #495 "add ConfigurationManager to write configuration packages"
Administrators need to be able to apply configuration to a production system from a client. In addition, developers need a way to configure a development cluster or to inspect and adapt to the configured environment dynamically (as with reflection).

MarkLogic 9.0-5 is expected to add support for configuration packages.

After that lands, the Node.js API database client should add a configuration

[2018-04-17 18:51] patrickmcelwee opened #496 "ability to use queryBuilder by itself"
I find myself, in a Node middle-tier, wanting to use the queryBuilder to construct a combined search query, but without using a database client. Instead, I am POSTing it myself to MarkLogic.

(This may change in the future: I may switch to using a database client, though I am worried about connection pools in case my application has many concurrent users, each with their own database client.)

At

[2018-04-17 19:30] jmakeig commented on #496
I don’t understand your use case. Can you describe a little more what you’re trying to do?

[2018-04-17 19:37] ehennum commented on #496
In particular, what's the motivation for avoiding use of the database client?

[2018-05-02 03:31] millturnK commented on #217
As a developer using Typescript, I am most grateful for the MarkLogic types definitions. Thanks Christy!

[2018-05-11 20:43] ayuwono opened #497 "There is no options param on eval and xqueryEval functions"
The options params is useful to run the script against a certain database or user-id. The node.js eval and xqueryEval don't have options param to do that

Right now, the work around is to do eval inside a node.js eval

[code]

[2018-05-11 20:53] kcoleman-marklogic commented on #497
Isn't the expectation that in Node.js, as in Java, that you must create a new database client if you want to be a different user or use a different database?

For better or worse, the model is not to pass in a db as an option on ANY operation.

[2018-05-11 20:55] ayuwono commented on #497
that's true @kcoleman-marklogic, i could just create a separate client. Closing this

[2018-05-11 20:55] #497 closed

[2018-05-29 18:23] grtjn opened #498 "Allow setting or caching of nonce on a per-user basis"
The topic was also raised in #159, but the title doesn't describe the goal desired here. We'd like to keep session state in the middle-tier, mainly to keep the connection with MarkLogic open, but don't want to cache actual credentials for security reasons. It is much nicer to cache the DIGEST nonce, and reuse that as long as possible (it could still expire at some point of course, but that would t

[2018-06-20 16:14] g0liushi opened #499 "Allow passing transaction object between services"
When (micro) services are passing transaction objects via http,  the transaction object became a plain JS object (loosing the Transaction class),  and will cause an error when used by the downstream service: `Error: can only undefined transaction with string or Transaction object identifier: object` (because `getTxidParam` in `lib/mlutil.js ` checks the `instanceof Transaction`)

My current soluti

[2018-06-21 00:15] jamesgibson14 opened #500 "No API reference?"
The link in readme goes back to the home github page, the developer guide is only useful to a point, is there API Documentation?

[2018-06-21 00:34] kcoleman-marklogic commented on #500
Like the Java Client API, the Node.js Client API is documented on docs.marklogic.com. Just like there's a dropdown for guides, java, REST, etc. there's one for Node.js. From which you can access:

* http://docs.marklogic.com/jsdoc/index.html
* http://docs.marklogic.com/guide/node-dev

[2018-07-11 02:03] lifan0127 opened #502 "Patch XML document doesn't work if uri does not end with 'xml'"
Take the example from the [Node Developer guide](https://docs.marklogic.com/guide/node-dev/partial-update#id_35443):

[code]
The above example works as expected. However, __if the uri is changed to something like `/patch/raw-patch2.txt`, it will fail:__

[code]

[2018-07-11 16:04] ehennum commented on #502
Patch operates only on structured documents -- that is, on JSON or XML.  A text document doesn't have any substructure to select for modification.

When a JSON or XML document is saved as text, the structure of the document isn't visible. To the server, the document is a single text string.

The extension determines the format of the persisted document when written through the REST API.  For the s

[2018-07-11 16:37] lifan0127 commented on #502
@ehennum Thanks for your prompt response. Perhaps `txt` is a bad choice here but I just wanted to provide a minimal reproducible example.

My real problem comes when I try to patch the XML envelopes from PDF and Word documents ingested using the Data Hub Framework. Those documents have `pdf` and `docx` as extensions in their URIs and would result in the same error.

[2018-07-11 17:08] ehennum commented on #502
The situation is similar for the pdf and docx extensions.

The default mapping for the pdf and docx extensions is to the Binary format.  Binary documents have no exposed structure that can be patched.  That is, to the server, a binary document is a long single sequence of bytes.

In other words, to be able to patch the document, the document must have been inserted using an extension with a mappin

[2018-07-11 17:51] lifan0127 commented on #502
You're right. The original document could be binary and in arbitrary format. During ingestion, the Data Hub Framework create an XML envelope structure using the document filter function. My goal is to patch the XML envelope not the original document.

[2018-07-11 18:09] ehennum commented on #502
The approach depends on whether the harmonized flow persists the XML envelope structure

*  within an XML document that's the output from the harmonized flow
*  as an XML properties fragment for a binary document that's the output from the harmonized flow
*  as an XML sidecar document associated with a binary document that's the output from the harmonized flow

If the XML envelope is stored within

[2018-07-20 18:36] malteseduck opened #503 ""Expired" nonce not handled"
In cases where ML is clustered behind a load balancer we can have things configured so the same server always gets to the same ML instance, so when the client caches the digest info things are all good.  If that instance goes down and the balancer has to switch to a different DB then all we get from then on are 401s because the "cached" nonce is no longer valid (because it is not valid against the

[2018-07-20 19:54] ehennum commented on #503
Thanks, Chris, for isolating the issue and for pointing at a useful precedent for the fix.

[2018-08-08 18:20] rhedin opened #504 "node-client-api fails with a complaint about Bluebird"
Hi.  I cloned and built node-client-api, then I ran examples/setup.js according to the instructions.  It fails.  I tried master and 2.0-master with the same result.  Is this a bug in the software?

[code]

[2018-08-08 18:32] rhedin commented on #504
I found this.  https://github.com/marklogic/node-client-api/issues/303   I have Mark Logic server 8 installed.  Maybe it needs to be 9.

[2018-08-15 22:31] ehennum opened #505 "Test multistatement transactions against AWS ELB and ALB"
In general, we should confirm that multistatement transactions in the Node.js play well with AWS load balancers.

In particular, the Java API had a bug where it was not setting the cookie for the equivalent to this request, causing the request to break for ELB:

http://docs.marklogic.com/jsdoc/transactions.html#read

In addition, the Java API doesn't refresh cookie values after initially set, whic

[2018-09-27 13:02] peetkes opened #507 "Nodejs does not support providing document properties as xml"
At the moment document properties can only be supplied as Array.<object>.
When these get stored into MarkLogic you will always get that funny json xml format.
Is it possible to be able to add xml properties as that is currently the native format for document property fragments?

[2018-10-03 18:12] ehennum opened #508 "add beforeQuery() and afterQuery() query constructors to queryBuilder"
The signatures might be similar to:

    beforeQuery(timestamp) → {queryBuilder.Query}
    afterQuery(timestamp) → {queryBuilder.Query}

where timestamp is an unsigned long stated as a string, emitting

    {"before-query":{"timestamp":"..."}}
    {"after-query":{"timestamp":"..."}}

respectively.

See server bug 50902 for the details.

[2018-10-16 16:16] kcoleman-marklogic commented on #508
When this work gets done, please don't forget to notify TechPubs. Probably Eleanor Tesoro, but if in doubt, let Jane M. know.

[2018-11-02 21:57] laquereric opened #509 "Add TypeScript support"
TypeScript support would help coordinate the node-client-api with 'modern' workflows like those supported by Angular etc.

[2018-11-02 21:59] laquereric opened #510 "Provide DHS code generator compatible with node-client-api"
Being able to generate NodeJS compatible code would make DHS attractive to the NodeJS community since it would simplify integration.

[2018-11-06 19:22] jmakeig commented on #510
I don’t understand what you’re asking for, @laquereric. Can you please provide some more details?

[2018-11-06 21:49] laquereric commented on #510
I am still researching this but what I envision are all the pieces needed to engage the very high paced and high stakes NodeJS marketplace. The benefits that ML (and particularly DHS) offer are particularly dramatic to this market, I believe, because the existing infrastructure solutions are less mature than in the JAVA market ( [JAVA vs Node](https://www.infoworld.com/article/2883328/node-js/java

[2018-11-06 21:54] laquereric commented on #509
After wasting some time with alternatives, IMO [Babel](https://iamturns.com/typescript-babel/) seems the way to go.

[2018-11-06 23:46] laquereric commented on #510
Microsoft and others have put A LOT into TypeScript
<https://open.microsoft.com/2018/03/05/typescript-overview/>. My personal
comfort and confidence increases DRAMATICALLY with TS and this mirrors
choices of projects
<https://github.com/brookshi/awesome-typescript-projects> like Angular
<https://vsavkin.com/writing-angular-2-in-typescript-1fa77c78d8e8>, but
users on other tools like React
<https:/

[2018-12-07 00:16] jmakeig opened #512 "Data Services support"
Like [Java](https://github.com/marklogic/java-client-api/wiki/Data-Services).

[2018-12-07 00:17] jmakeig commented on #510
Closed in favor of #512 for now.

[2018-12-07 00:17] #510 closed

[2018-12-07 00:17] #509 closed

[2018-12-07 00:18] jmakeig commented on #504
You should definitely be using MarkLogic 9. Please feel free to re-open if you continue to see this issue  after the upgrade.

[2018-12-07 00:18] #504 closed

[2018-12-07 00:19] #500 closed

[2018-12-07 00:20] #502 closed

[2018-12-07 00:41] #473 closed

[2018-12-07 00:42] #405 closed

[2018-12-07 00:45] jmakeig commented on #205
@wooldridge, is this still an issue?

[2018-12-07 00:46] #191 closed

[2018-12-07 00:50] jmakeig opened #513 "SAML authentication"
As a developer I want to be able to have something further up in the request stack handle user authentication and then pass my app a token that it can validate and pass on to authenticate into MarkLogic. SAML is an industry-standard way of doing this.

[2018-12-07 00:50] jmakeig commented on #159
I think SAML authentication is how we’d handle the general case here. Closing in favor of #513.

[2018-12-07 00:50] #159 closed

[2018-12-07 00:53] #263 closed

[2018-12-07 00:53] #154 closed

[2018-12-07 00:55] #124 closed

[2018-12-07 00:55] #24 closed

[2018-12-07 17:51] jmakeig commented on #513
See also JAVA-17 (internal)

[2019-01-21 17:27] pete-otaqui opened #514 "Missing dependencies, unnecessary global gulp"
On a fresh install, there seem to be two missing dependencies for successfully generating the documentation:

* `moment` (latest is 2.23.0)
* `sanitize-html`(latest is 1.20.0)

Also, the requirement for having `gulp` installed globally is unnecessary, and should be wrapped in some entries in the `scripts` block in `package.json`, like so:

[code]

[2019-01-30 15:00] pete-otaqui commented on #514
Fix is merged, thanks!

[2019-01-30 15:00] #514 closed

[2019-03-04 21:54] malteseduck opened #516 "Query plan "cut off" because of duplicate properties?"
If I run a script/query:

[code]

I get the following results:

[code]
The response from the server is this, though:

[code]

Notice how the "term-query" is missing from the result coming back from the "query" call, but it is not missing from the JSON response from the server.

Any ideas what is "chopping" this off?

[2019-03-04 22:54] ehennum commented on #516
Hmmm.  I'm pretty sure the Node.js API is parsing the response with JSON.parse(), which can't be expected to maintain duplicate properties.  The REST API seems to be generating invalid JSON for query plans.

For maximum attention on the fix, that might be best to file through your support channel.

[2019-03-14 18:11] ehennum opened #517 "update dependencies"
Gulp 3.8.10 has a dependency with a security vulnerability.

Node.js 6 will be end-of-life next month.

[2019-03-14 18:23] ehennum commented on #517
Should not cause regressions except perhaps in any complete tests that use Winston (which has backward incompatibilities)

[2019-03-27 18:54] ehennum opened #518 "update copyright dates"
2019 is here

[2019-03-27 18:56] ehennum commented on #518
should cause no regressions

[2019-04-08 17:46] ehennum commented on #30
stable

[2019-04-09 23:33] gfurbush opened #519 "gulpfile has not been updated"
The gulpfile has not been updated to work with Gulp 4 backward incompatibilities.

[2019-04-09 23:43] ehennum commented on #519
Any of the following command lines should now work:

    gulp doc
    gulp lint
    gulp test
    gulp

The last command (the default) is a synonym for gulp lint.

[2019-04-17 23:15] ehennum opened #520 "SAML documentation"
On  createDatabaseClient(), document the token parameter and SAML value for the authType parameter

Document the setAuthToken() method of a DatabaseClient

[2019-04-18 01:53] ehennum commented on #520
gulp doc should produce jsdoc that -- on the DatabaseClient page -- has the setAuthToken() method as well as the token parameter for createDatabaseClient()

[2019-05-28 21:19] ehennum opened #521 "Support for JavaScript modules"
Support modules with the *.mjs extension as well as with the *.sjs extension

[2019-05-31 19:25] ehennum opened #522 "extended subtype in error response"
Allow for an error response of application/EXTENSION+json

[2019-05-31 19:28] ehennum commented on #522
No new testing needed -- expanded unit test as part of this commit

[2019-06-06 18:16] ehennum opened #523 "fixup for Optic concat expression test"
Because the enode Optic API is no longer sniffing for and enforcing data types but, instead, allowing implicit casts to occur, a string numeric in the concat test is turning into a numeric, which is causing an equality test to fail.

[2019-06-06 18:20] ehennum commented on #523
Assigning for awareness and not because additional coverage is needed.

The API didn't change, only a unit test.

The error in the "expressions concat" unit test should be gone now.

If so, this issue can be closed.

[2019-06-10 18:08] georgeajit commented on #521
Tests written and committed to internal repo.

------------------------------------------------------------------------
r306727 | ageorge | 2019-05-09 18:02:47 -0700 (Thu, 09 May 2019) | 1 line

52091 - Use ES6 modules for Optic
------------------------------------------------------------------------

[2019-06-21 15:58] paxtonhare opened #524 "graphs.sparql: can't bind an array of values"
REST API lets me send in > 1 values for a bound variable:

`http://.../v1/graphs/sparql?query=....&bind:id=0112995b-e301-47ab-9a87-96ba7f11c35b&bind:id=0112995b-e301-47ab-9a87-96ba7f11c35b&bind:id=2cb5764a-dcdf-4bb2-8608-0c7498266048`

But the node client api assumes only 1 value per bind variable and won't pass the values up properly via REST.

I have a local fix that works. In mlutils.js:

[code

[2019-06-21 16:40] ehennum commented on #524
Thanks for catching that, Paxton, and providing a fix.

It won't be able to catch the train for the release coincident with MarkLogic 10.0-1, but we'll target the next release of the Node.js API.

[2019-07-05 19:52] georgeajit commented on #520
Verified on ```develop``` branch. SAML auth details available.

[2019-07-05 20:54] georgeajit commented on #519
The following commands were executed on a system on ```develop``` and MarkLogic Server build 10.0.1 nightly build dated 07022019.
[code]
Tools versions on the system are:
[code]

Shipping this issue.

[2019-07-05 20:57] georgeajit commented on #513
QA Tests using SAML auth were executed and found to be working fine. These tests will be checked into BitBucket and executed in CI mode later.

Shipping the issue.

[2019-07-05 21:10] georgeajit commented on #517
No regressions seen due to version changes on dependencies.

[2019-07-05 21:45] georgeajit commented on #523
No regressions seen. Verified on ```develop``` branch with 10.0.1 ML server build dated 07022019.

[2019-07-05 21:54] georgeajit commented on #522
Shipping the issue.

[2019-07-16 23:34] jmakeig opened #527 "Bubble up xdmp.eval options to MarkLogicClient.prototype.eval"
Optionally allow the client to (at least) select the database and modules context to avoid things like https://github.com/mikrovvelle/mlxprs/blob/master/src/extension.ts#L228-L237.

[2019-07-16 23:46] ehennum commented on #527
This request belongs at the REST API level.  The capability has to be exposed there before it can be available in client interfaces.

[2019-07-17 18:09] anu3990 commented on #507
Updated bug - https://bugtrack.marklogic.com/52768

[2019-07-17 18:17] ehennum commented on #507
The internal bug identifies the part of the solution that requires a fix to the REST API.

[2019-07-24 20:18] ehennum commented on #499
I'm wondering whether the contexts that take a transaction object might do the following:

*  Sniff the type of the transaction object (as currently)
*  If the object doesn't have the transaction type, fall back to passing the object to the transaction object constructor

Possibly this checking logic might be put into a checker() function in the library with the transaction object constructor.

[2019-07-30 19:37] ehennum commented on #507
In 10.0-2 and 9.0-11, the REST API will support sending and receiving properties in the following format:

` {"properties":{"$ml.xml": "<prop:properties>...</prop:properties>"}}`

The Node.js implementation might not need to change, but a unit test would be useful.

[2019-07-30 19:48] ehennum commented on #341
The 52800 internal bug fix to the REST API should appear in 10.0-2 and 9.0-11.

The Node.js API will need to send the namespaces in a structure similar to the following

`{"extract-document-data":{
    "selected":"include",
    "extract-path":["//prefix1:path1","/prefix2:path2"],
    "namespaces":{"prefix1":"http://uri1","prefix2":"http://uri2"}}}`

[2019-08-06 21:13] ehennum commented on #479
Digging by @anu3990  determined is that this behavior is specific to reading a non-existent document.

Other errors are correctly sent to the error handler.

A non-existent document is not an error in the request.  The document merely doesn't exist.

The end event code can determine an empty response by checking whether data.length === 0.

Keeping the bug open for adding the unit test for streamin

[2019-10-04 21:43] georgeajit commented on #524
Test runs fine.

[2019-10-07 18:09] georgeajit commented on #346
Test runs fine.

[2019-10-07 18:16] georgeajit commented on #341
Test ran fine.

[2019-10-07 18:30] georgeajit commented on #499
Works fine.

[2019-10-07 20:22] georgeajit commented on #487
Test runs as expected.

[2019-10-07 20:38] georgeajit commented on #508
Tests are running fine.

[2019-10-23 22:06] georgeajit commented on #507
New test committed on develop branch. See https://github.com/marklogic/node-client-api/commit/5a5075c08280160e31b716800ce82251db44caae

[2019-10-30 15:41] ehennum opened #534 "library for use by generated data services"
per internal story 151

[2019-12-02 21:59] ehennum commented on #534
After verifying the enhancements on this branch, we'll merge the changes into the develop branch.

[2019-12-13 22:48] ehennum opened #535 "sort documents by URI for each batch"
Before writing a batch to the server, documents.write() should sort the documents by URI within the batch.

That way, batches written concurrently cannot deadlock because documents will be locked in a consistent order. That is, whichever batch gets the lock on the first document that is common between batches will get the locks on any other documents that are common between batches.

[2019-12-14 22:30] ehennum commented on #535
This refactoring is the Node.js equivalent to https://github.com/marklogic/java-client-api/issues/1168

The refactoring shouldn't cause any regressions.

[2020-01-22 23:00] georgeajit commented on #534
Jenkins jobs running the unit have been setup and the generated tests are running. Have Jenjins jobs setup for MarkLogic Server release 10.0 and 9.0.

[2020-01-22 23:18] georgeajit opened #536 "Fix generated unit tests for MarkLogic Server 9.0 release"
On internal Jenkins CI env, it is seen that many of generated unit tests for Data Services throw Assert failures such as ones given below. Failures are seen when MarkLogic Server release 9.0 (nightly builds) is used.

Same tests runs fine when MarkLogic Server release 10.0 (nightly builds) is used.

```moduleInitMjs service.initializer endpoint (from Mocha Tests)```
Stacktrace:
[code]

```postOfMu

[2020-01-22 23:30] georgeajit opened #537 "Fix eval test with date data type."
This test fails on nightly Jenkins test runs.

```server-side call to eval JavaScript.should generate a date value```

Stacktrace
expected 2010-10-08 17:17:15.125 -0700 to equal 2010-10-08 10:17:15.125 -0700

      + expected - actual

      -[Date: 2010-10-09T00:17:15.125Z]
      +[Date: 2010-10-08T17:17:15.125Z]

[code]
Used QConsole to execute this snippet ```eval('new Date("2010-10-08T10:17:15

[2020-01-31 17:20] ehennum commented on #537
I believe the root cause is that the server should serialize JavaScript Date values with the toISOString() method.  See internal server bug 54293.

[2020-01-31 19:14] ehennum commented on #536
Here's the root cause:  the tests that are failing use the MarkLogic 10 support for JavaScript Modules.

MarkLogic 9 doesn't support for JavaScript Modules, which is why those tests fail with a 405.

If on MarkLogic 9 we could skip running the tests where the test-basic-proxy/ml-modules/*/* directory contains *.mjs main modules instead of *.sjs or *.xqy main modules, that might be the simplest sol

[2020-02-14 16:56] ehennum opened #538 "remove pinned dependency on JQuery from JSDoc"
The etc/marklogic-template/static/scripts/prettify folder hardcodes a dependency on Jquery 2.0.0

The use of prettify is historical. It's likely the entire folder can be removed.

The etc/marklogic-template/static/scripts/extracted folder has some edits to get DocStrap to generate XHTML instead of HTML.

It's possible that we no longer need XHTML and can use DocStrap as is.

Both changes would hav

[2020-02-14 17:56] ehennum commented on #536
Following up on the previous comment, @georgeajit , which resolution seems best?

[2020-02-14 18:39] ehennum commented on #538
Correction:  for the time being, a downstream system still needs XHTML.

But, prettify should be possible to remove.

[2020-02-24 21:16] ehennum commented on #538
JSDoc should continue to build without issue.

[2020-02-26 18:53] georgeajit commented on #536
Tests that rely on ```.mjs``` modules are not run in an environment containing MarkLogic Server build 9.x releases.

[2020-03-03 16:42] ehennum opened #539 "update dependencies"
Maintenance mode ended for Node.js 8 in January of 2020, so Node.js 10 is now the floor until April of 2021:

https://nodejs.org/en/about/releases/

[2020-03-03 16:54] ehennum commented on #539
Will require update of Node.js in environment on Jenkins systems but shouldn't cause any regressions

[2020-03-16 20:57] ehennum opened #540 "expose total on all responses to documents.query()"
The REST API provides a vnd.marklogic.result-estimate header when getting multiple responses.

The Node.js API documents.query() should provide that value in a summary object if requested by the QueryBuilder withOption() in the same way as if a search summary had been requested.

    http://docs.marklogic.com/jsdoc/documents.html#query

    http://docs.marklogic.com/jsdoc/queryBuilder.html#withOpt

[2020-03-27 04:23] georgeajit opened #541 "XDMP-ENDPOINTCREATESESSION thrown when declareUpdate has explicitCommit to true"
For an endpoint that does not have session declaration such as:
[code]

Consider a SJS with:
[code]
Calling the endpoint with generated .js function throws
[code]

Is this an incorrect usage or an issue.

[2020-03-27 16:16] ehennum commented on #541
That's an incorrect usage.  An endpoint must execute in a session to use explicit transactions.

[2020-03-27 16:23] georgeajit commented on #541
Closing the issue as usage is incorrect.

[2020-04-01 22:06] georgeajit opened #542 "Data services' errorMapping message not returned to client"
For a ```.api``` file such as
[code]
and ```.sjs ``` module

[code]

A node client call is made to module:
[code]
The response ( from ```catch(err)``` ) is
[code]
App Server Access Log:
[code]

cURL command
[code]
to same .sjs module yeilds:
[code]
App Server Access Log for cURL command is
[code]

Issue seen: Don't see ```statusCode":482, "status":"QA LEXVAL Message For 482", "messageCode":"XDMP-L

[2020-04-02 00:24] ehennum commented on #542
The full error message is in the structure of the error object.  I'll check in a unit test that demonstrates.

[2020-04-02 00:34] ehennum commented on #542
test-basic-proxy/ml-modules/negative/badExecution = a simple example of error mapping

test-basic-proxy/lib/negative/badExecutionTest.js = a simple example of inspecting the mapped error

Note that the badExecutionTest.js depends on the generated badExecution.js client interface to the Data Service endpoint.

The full error message structure looks like this:

`{
  "message": "call to /dbf/test/bad

[2020-04-02 18:00] ehennum opened #543 "prefer ipv4 to ipv6 addresses"
MarkLogic server prefers ipv4 addresses to ipv6 addresses.

Because the client's address factors into validation of the nonce in DIGEST authentication, the client must continue to use the same address while using the nonce.

In Java, it became necessary under heavy concurrency with DIGEST authentication to prefer ipv4 addresses explicitly on the client.

If that becomes necessary in Node.js, the H

[2020-04-02 18:05] georgeajit commented on #542
This is a test issue and the following works as demonstrated in unit test.
[code]

[2020-04-02 18:11] ehennum commented on #542
While console.log(JSON.stringify(err, null, 2)) is a good way to debug, tests can use dot notation to inspect the structure of the object.

See these lines in the unit test for an example of the technique:

https://github.com/marklogic/node-client-api/blob/2eb064fcca980430f0c4db43d0f2822a6467f703/test-basic-proxy/lib/negative/badExecutionTest.js#L17-L22

[2020-04-07 19:08] ehennum opened #544 "replace yakaa with HTTP.Agent"
With the maturation of HTTP.Agent, the yakaa dependency is archaic.

At the same time, consider sharing the agent across clients where possible.

Make this change at the start of a release cycle so there's time for stress testing.

[2020-04-22 15:38] ehennum opened #549 "Optic refresh"
Additional expression functions and revisions to the documentation for expression functions.

[2020-04-22 15:43] ehennum commented on #549
Should cause no regressions.

[2020-04-24 23:43] ehennum commented on #537
fixup should make unit test green despite timezone differences on client and server

[2020-04-29 17:13] ehennum commented on #544
This commit removes yakaa -- shouldn't cause regressions.

Sharing agents across clients deserves a separate ticket.

[2020-04-29 18:35] #542 closed

[2020-04-29 18:35] #541 closed

[2020-04-29 18:36] georgeajit commented on #539
Test are running fine with latest update (Node 10.n).

[2020-04-29 18:36] #539 closed

[2020-04-29 18:37] #538 closed

[2020-04-29 18:38] georgeajit commented on #527
Closing the issue until capability is added to REST API.

[2020-04-29 18:38] #527 closed

[2020-04-29 18:38] #524 closed

[2020-04-29 18:40] georgeajit commented on #516
Closing this issue, because this is a REST API issue.

[2020-04-29 18:40] #516 closed

[2020-04-29 18:44] georgeajit commented on #505
Testing Node API in AWS env was done in a separte activity.

[2020-04-29 18:44] #505 closed

[2020-04-29 18:49] georgeajit commented on #496
Closing the issue to keep API stable.

[2020-04-29 18:49] #496 closed

[2020-04-29 18:50] georgeajit commented on #217
Will not be working on this.

[2020-04-29 18:50] #217 closed

[2020-04-29 18:51] georgeajit commented on #190
Closing the issue to keep API stable.

[2020-04-29 18:51] #190 closed

[2020-04-29 18:52] georgeajit commented on #140
Outside the scope of Node API.

[2020-04-29 18:52] #140 closed

[2020-04-29 18:54] georgeajit commented on #125
Closing the issue to keep API stabilized.

[2020-04-29 18:54] #125 closed

[2020-04-29 18:57] georgeajit commented on #80
This can be done using separate insert and replace operations with different predicates.

[2020-04-29 18:57] #80 closed

[2020-04-29 18:58] georgeajit commented on #70
Will keep the API stable.

[2020-04-29 18:58] #70 closed

[2020-04-29 18:59] georgeajit commented on #69
Closing the issue to keep API stable.

[2020-04-29 18:59] #69 closed

[2020-04-29 19:03] georgeajit commented on #39
Will rely on Node REPL.

[2020-04-29 19:03] #39 closed

[2020-04-30 17:38] #508 closed

[2020-04-30 17:39] #487 closed

[2020-04-30 17:41] georgeajit commented on #495
Supported through ml-gradle

[2020-04-30 17:41] #495 closed

[2020-04-30 17:44] georgeajit commented on #479
Unit test available.

[2020-04-30 17:44] #479 closed

[2020-04-30 17:48] #341 closed

[2020-04-30 17:52] georgeajit commented on #348
@wooldridge ,

Can you provide some input on what tests are needed for this?

[2020-04-30 17:53] georgeajit commented on #173
Decided to replace Bluebird with native V8 promises.

[2020-04-30 18:02] georgeajit commented on #178
Node developers know that a readable stream means we are streaming. Closing the issue.

[2020-04-30 18:02] #178 closed

[2020-04-30 18:04] georgeajit commented on #357
Test the conditions.

[2020-04-30 18:06] #30 closed

[2020-04-30 18:06] #536 closed

[2020-04-30 22:47] georgeajit commented on #537
This issue was supposed to have a MarkLogic server side fix (in 10.0.4 or later). But as of now, PM decides that fix won't be happening and hence there is a need for workaround for these test failures.

[2020-04-30 22:49] ehennum commented on #537
@georgeajit , I take it from the reassignment that the fix checked in last Friday didn't solve the issue in the Jenkins environment.

[2020-05-01 00:01] georgeajit commented on #537
On Jenkins I see these two tests failing (Note: diff tests than original reported ones):
point-in-time with timestamp graphs read default graph.should set and use timestamp
point-in-time with timestamp graphs sparql query.should set and use timestamp

I also see alternate builds (Jenkins jobs ) passing and failing.

[2020-05-01 00:02] georgeajit commented on #537
This build passed: https://jenkins.marklogic.com/view/Node%20API/job/NodeAPIUnitTests_develop-b10_0/648/

And this build failed:
https://jenkins.marklogic.com/view/Node%20API/job/NodeAPIUnitTests_develop-b10_0/647/

[2020-05-01 15:14] ehennum opened #550 "retry on bad gateway"
Where the input is replayable (that is, not a ReadableStream), retry with backoff after a 502, 503, or 504 response.

Important use cases include elastic enode scale out in cloud environments.

[2020-05-04 20:59] ehennum commented on #550
Here's the simple stress test that I used to verify against a DHS cluster.

The number of workers and concurrent requests can be adjusted as needed for the capabilities of the cluster.  (The less capable the cluster, the less stress needed to produce 502 and 504 responses.)

[code]

If the test is stressing the cluster heavily enough, the requests will eventually retry for more than 2 minutes and

[2020-05-07 23:25] ehennum commented on #537
This test bug had a root cause different from the issue of timezone loss on the default Date serialization.

The test was trying to choose a timestamp before the documents were created by subtraction.  If the timing between the document creation and the query happened to be to larger than the subtracted number, the documents would be matched.

Now, the test writes a document before any test is run

[2020-05-12 18:45] georgeajit commented on #550
Shipping this issue based on the input received from field tests.

[2020-05-12 18:45] #550 closed

[2020-06-05 23:33] ehennum opened #551 "replace Bluebird dependency with native Promises"
Promises have baked fully in core JavaScript

[2020-06-05 23:36] ehennum commented on #551
Exhibited no regressions for test-basic and test-basic-proxy.

No expansion of test coverage required. Should cause no regressions in functional tests.

[2020-06-15 17:46] ehennum opened #552 "document example of integration with Saxon-JS for XML processing"
Using:

https://www.npmjs.com/package/saxon-js

[2020-06-15 18:02] ehennum commented on #552
Because XML processing is more difficult in Node.js and because Saxon's use is a kind of endoresement, the following packages might also be appropriate for examples:

- https://github.com/jindw/xmldom
- https://github.com/isaacs/sax-js

[2020-07-07 18:58] ehennum opened #553 "update nodejs dependencies, CHANGELOG.md and release notes."
Including the minimum Node.js version